<div class="alert alert-danger col-sm-8 col-sm-offset-2 m-t-lg">
	<h3 class='text-center'>
		<i class="fa fa-ban fa-5x m-b-lg"></i>
		<p>{{ UCfirst('grants.no_access'|trans({'%name%': entite.nom|default('ID#' ~ entite.id)}, entite.shortName|default('element')))|raw }}</p>
	</h3>
</div>