{% block faviconPrint %}
	{% if app.session.get('sitedata') != null %}
		{% if app.session.get('sitedata').favicon_id|default(null) != null %}
		{% set favicon16 = imageB64sized(app.session.get('sitedata').favicon_id, 16, 16, 'cut') %}
		{% endif %}
		{% if favicon16|default(null) != null %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ favicon16 }}">
		<link rel="icon" type="image/png" href="{{ favicon16 }}">
		<link rel="apple-touch-icon" href="{{ favicon16 }}">
		{% else %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
		<link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">
		{% endif %}
	{% else %}
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
		<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
		<link rel="apple-touch-icon" href="{{ asset('favicon.png') }}">
	{% endif %}
{% endblock faviconPrint %}
