{% set current_locale = 'laboadmin' %}
{% set LANGUESITE = list_locales[current_locale]|default(list_locales['default'])|split('|') %}
<nav class="navbar navbar-static-top m-b-none" role="navigation">
	{% if searchswitcher %}
	<div class="navbar-header">
		<a class="navbar-minimalize minimalize-styl-2 btn btn-danger " href="#"><i class="fa fa-bars"></i> </a>
		<form role="search" class="navbar-form-custom" action="#">
			<div class="form-group">
				<input type="text" placeholder="{{ 'recherche.name'|trans|capitalize }}" class="form-control" name="top-search" id="top-search">
			</div>
		</form>
	</div>
	{% endif %}
	<ul class="nav navbar-top-links navbar-right">
		{% if app.environment in ['dev', 'test'] %}
		<div class="label label-warning">{{ app.environment }}</div>
		{% endif %}
		{% if is_granted('ROLE_SUPER_ADMIN') %}
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<div class="label label-danger">Super Admin</div>
			</a>
			<ul class="dropdown-menu">
				<li class="dropdown-header text-muted">Route actuelle</li>
				<li><a href="#">{{ infoRoute._route }}</a></li>
				<li role="separator" class='divider'></li>
				<li class="dropdown-header text-muted">Paramètres de route</li>
				{% for param,value in infoRoute._route_params %}
				<li><a href="#">{{ param }} : {{ value|default('<i>null</i>')|raw }}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		<li class="dropdown">
			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				<span class="{% if app.user.adminhelp %}text-info{% else %}text-muted{% endif %} switch-text-adminhelp"><i class="fa fa-support"></i>{{ UCfirst('name'|trans({}, 'help')) }}</span>
			</a>
			<ul class="dropdown-menu">
				<li>
					{% if app.user.adminhelp %}{% set adminhelp = 'swh-on' %}{% else %}{% set adminhelp = 'swh-off' %}{% endif %}
					<a class="switch-adminhelp {{ adminhelp }}" data-txt-swh-seton="{{ 'actions.help.setOn'|trans({}, 'siteUserBundle') }}" data-txt-swh-setoff="{{ 'actions.help.setOff'|trans({}, 'siteUserBundle') }}" data-url-on="{{ path('change_user_help', {state: 1}) }}" data-url-off="{{ path('change_user_help', {state: 0}) }}"></a>
				</li>
			</ul>
		</li>

		<li class="dropdown" pla-if="message != undefined">
			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				<span><i class="fa fa-envelope"></i></span>
			</a>
			<ul class="dropdown-menu">
				<li>
					Messages…
				</li>
			</ul>
		</li>

		{% if LANGUESITE|length > 1 %}
		<li class="dropdown">
			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				<i class="fa fa-flag"></i> {{ 'traduction.langues'|trans|capitalize }}
			</a>
			<ul class="dropdown-menu dropdown-alerts">
				{% set route_params = infoRoute['_route_params'] %}
				{% if route_params is not iterable %}{% set route_params = [] %}{% endif %}
				{% for langue in LANGUESITE %}
					{% set route_params = route_params|merge({_locale: langue}) %}
					{% set tradlangue = ('traduction.languename.' ~ langue)|trans({}, 'messages', langue) %}
					<li>
						<a href="{{ path(infoRoute['_route'], route_params) }}" class="change-user-language" data-url="{{ path('change_user_language', {language: langue, user: app.user.id|default(null)}) }}">
							<div>
								{{ ('traduction.languename.' ~ langue)|trans|capitalize }}
								<span class="pull-right text-muted small">{{ 'traduction.voir_site'|trans({'%langue%': tradlangue}, 'messages', langue)|capitalize }}</span>
							</div>
						</a>
					</li>
				{% endfor %}
				{% if is_granted('ROLE_TRANSLATOR') %}
<!-- 				<li class="divider"></li>
				<li>
					<a href="{{ path('sitetranslate_homepage') }}">
						<div><i class="fa fa-flag"></i> {{ 'traduction.name'|trans|capitalize }}</div>
					</a>
				</li> -->
				{% endif %}
			</ul>
		</li>
		{% endif %}

		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<li class="dropdown">
			<a aria-expanded="false" role="button" class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				{% if app.user.avatar|default(null) != null %}<img src="{{ imageB64sized(app.user.avatar.id, 20, 20, 'cut') }}" class="inline img-circle img-responsive" alt="Avatar {{ app.user.username }}">{% else %}<i class="fa fa-user"></i>{% endif %} {{ app.user.username }} <span class="caret"></span>
			</a>
			<ul class="dropdown-menu dropdown-alerts">
				<li>
					<a href="{{ path('fos_user_profile_show') }}">
						<div><i class="fa fa-user"></i> {{ 'profile.name'|trans({}, 'siteUserBundle')|capitalize }}</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{{ path('fos_user_profile_edit') }}">
						<div><i class="fa fa-user"></i> {{ 'profile.edit.submit'|trans({}, 'siteUserBundle')|capitalize }}</div>
					</a>
				</li>
				<li>
					<a href="{{ path('fos_user_change_password') }}">
						<div><i class="fa fa-user"></i> {{ 'change_password.submit'|trans({}, 'siteUserBundle')|capitalize }}</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{{ path('fos_user_security_logout') }}">
						<div><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'siteUserBundle')|capitalize }}</div>
					</a>
				</li>
			</ul>
		</li>
		{% else %}
		<li>
			<a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i>Connexion</a>
		</li>
		{% endif %}
		<!-- <li> -->
			<!-- <a class="right-sidebar-toggle"><i class="fa fa-tasks"></i></a> -->
		<!-- </li> -->
	</ul>
</nav>