<span id="hiddendata" style="display:none;">
	<!-- flash messages -->
	<span id="environnementMode" style="display:none;">{{ app.environment }}</span>
	<span id="typeMessages" style="display:none;">["success","info","warning","error"]</span>
	<span id="defaultsMessages" style="display:none;">{"text":"Texte","type":"success","title":"Titre","showMethod":"slideDown","hideMethod":"fadeOut","showEasing":"swing","hideEasing":"swing","showDuration":400,"hideDuration":1000,"positionClass":"toast-top-right","closeButton":false,"progressBar":true,"debug":false,"timeOut":6000,"extendedTimeOut":1000,"closeHtml":"&lt;button type=&#039;button&#039;&gt;&amp;times;&lt;\/button&gt;","newestOnTop":false}</span>
	{% for flashMessage in app.session.flashbag.get('flashMessages') %}
	{% for msg in flashMessage %}
	<span class="flashMessage" style="display:none;">{{ msg|json_encode }}</span>
	{% endfor %}
	{% endfor %}
	<span id="formatDate" style="display:none;">{{ formatDate }}</span>
	<span id="formFormatDate" style="display:none;">{{ formFormatDate }}</span>
	<span id="formatDateHeure" style="display:none;">{{ formatDateHeure }}</span>
	<span id="datatables">{{ datatables_hidden()|raw }}</span>
	<span id="locale">{{ app.request.locale }}</span>
	{# <span id="sessionID">{{ app.request.session.id }}</span> #}
</span>
{# AJAX LIVE #}
{% if ajaxlive.active|default(false) %}
<span id="{{ ajaxlive.name }}" style="display:none;">
	{# ajaxlive #}
	<span ajaxlive-params="{{ ajaxlive|json_encode }}"></span>
	<span ajaxlive-url="{{ path('ajaxlive_global_serialized') }}"></span>
	{# <span ajaxlive-entity-url="{{ path('entity_serialized') }}"></span> #}
	{% set serializedUser = app.user|serialize('json', ajax_serialization_context(['ajaxlive'], true)) %}
	{% set unserializedUser = serializedUser|json_decode %}
	<span ajaxlive-user="{{ serializedUser }}"></span>
	{% for entity in ajaxlive.entities|default([]) if (unserializedUser[entity.user_condition]|default(false) or entity.user_condition|default('all') == 'all') %}
	<span ajaxlive-entity="{{ entity.shortname }}" ajax-group="globals" ajax-entity-data="{{ getSerialized(entity, app.user) }}"></span>
	{% endfor %}
</span>
{% endif %}
{% if app.environment in ['dev','test'] %}
<span id="devinfo"></span>
{% endif %}

{# {% for entity in ajaxlive.entities|default([]) %}
{% set condition = unserializedUser[entity.user_condition]|default(false) or entity.user_condition|default('all') == 'all' %}
<h2>{{ UCfirst(entity.shortname) }}<small> : {{ condition|json_encode }} / {{ entity.user_condition|default('all') }}</small></h2>
{% if condition %}
{{ dump(getSerialized(ajaxlive.entities[entity.shortname], app.user)|json_decode) }}
{% endif %}
{% endfor %}
<h2>Users</h2>
{{ dump(getSerialized([], app.user, 'User')|json_decode) }}
<h2>User</h2>
{{ dump(unserializedUser|json_encode) }}
 #}
<span id="modales-type" style="display:none;">

	<div class="modal inmodal fade" id="modale_model" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ UCfirst('close'|trans) }}</span></button>
					<h4 id="modal-title" class="modal-title"><i class="fa fa-exclamation-triangle"></i> {{ UCfirst('titre'|trans) }}</h4>
				</div>
				<div class="modal-body">
					<p id="modal-message">{{ UCfirst('message'|trans) }}</p>
				</div>
				<div class="modal-footer">
					<button id="modal-cancel" type="button" class="btn btn-white cancel-all-icon-wait-on-click" data-dismiss="modal"><i class="fa fa-times"></i> {{ UCfirst('non'|trans) }}</button>
					<a href="#" id="modal-href" type="button" class="btn btn-danger"><i class="fa fa-check icon-wait-on-click"></i> {{ UCfirst('oui'|trans) }}</a>
				</div>
			</div>
		</div>
	</div>

</span>
