{% import 'LaboAdminBundle:blocks:menumacro.html.twig' as menumacro %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<a {{ actions.publicHref() }}>
							{% if sitedata.adminLogo|default(null) != null %}
							<img alt="image" class="" src="{{ sitedata.adminLogo.img }}" />
							{% else %}
							{% if fileExists(asset('bundles/' ~ LaboAdminBundle|default('LaboAdminBundle') ~ '/images/logo_admin.png')) %}
							<img alt="image" class="" src="{{ asset('bundles/' ~ LaboAdminBundle|default('LaboAdminBundle') ~ '/images/logo_admin.png') }}" />
							{% else %}
							<img alt="image" class="" src="{{ asset('bundles/laboadmin/images/logo_admin.png') }}" />
							{% endif %}
							{% endif %}
						</a>
					</span>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							{% if sitedata.nom|default(null) != null %}
							<span class="block m-t-xs"> <strong class="font-bold">{{ UCfirst(sitedata.nom) }}</strong></span>
							{% else %}
							<span class="block m-t-xs"> <strong class="font-bold">{{ UCfirst('admin'|trans) }}</strong></span>
							{% endif %}
							<span class="text-muted text-xs block">{{ app.user.username|default('anon.') }} <b class="caret"></b></span> 
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li>
							{% if app.user.adminhelp %}{% set adminhelp = 'swh-on' %}{% else %}{% set adminhelp = 'swh-off' %}{% endif %}
							<a class="switch-adminhelp {{ adminhelp }}" data-txt-target="span.helpinmenu" data-txt-swh-seton="{{ 'actions.help.setOn'|trans({}, 'siteUserBundle') }}" data-txt-swh-setoff="{{ 'actions.help.setOff'|trans({}, 'siteUserBundle') }}">
								<i class="fa fa-support m-r-xs"></i><span class="helpinmenu"></span>
							</a>
						</li>
						<li class="divider"></li>
						<li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user m-r-xs"></i>{{ UCfirst('profile.name'|trans({}, 'siteUserBundle')) }}</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out m-r-xs"></i>{{ UCfirst('layout.logout'|trans({}, 'siteUserBundle')) }}</a></li>
					</ul>
					{% endif %}
				</div>
				<div class="logo-element">
					<i class="fa fa-desktop visible-lg"></i>
					<i class="fa fa-laptop visible-md"></i>
					<i class="fa fa-tablet visible-sm"></i>
					<i class="fa fa-mobile-phone visible-xs"></i>
				</div>
			</li>
			{{ menumacro.menu_Admin() }}
		</ul>
	</div>
</nav>

