{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'sitesiteBundle:blocks:actions.html.twig' as actions %}
{% import 'sitesiteBundle:blocks:blocks_actions.html.twig' as blocks_actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2><i class="fa fa-home"></i></h2>
				<ol class="breadcrumb">
					<li>{{ UCfirst('administration'|trans) }}</li>
					<li>Check {{ 'name_s'|trans({}, entite_name) }}</li>
				</ol>
			</div>
			{% block buttons %}
			{% endblock buttons %}
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h3><i class="fa {{ ('entite.' ~ entite_name)|trans({}, 'icon') }} m-r-xs"></i>{{ UCfirst(('name_s')|trans({}, entite_name)) }}</h3>
				{% if entities|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>
							<th>Image in</th>
							<th>Image raw hi</th>
							<th>Image raw Low</th>
						</tr>
					</thead>
					<tbody>
						{% for item in entities %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.nom }}<br>{{ fileSizeDisplay(item.fileSize) }}<br><strong>{{ item.stockage }}</strong></td>
							<td>
								<img src="data:{{ item.format }};base64,{{ item.binaryFile|base64_encode }}" class="img-thumbnail">
							</td>
							<td>
								{% if item.rawfile != null %}
								{% endif %}
								{% if item.rawfile != null %}
								<img src="data:{{ item.rawfile.format }};base64,{{ item.rawfile.binaryFile|base64_encode }}" class="img-thumbnail">
								{% endif %}
							</td>
							<td>
								{% if item.rawfile != null %}
								<img src="data:{{ item.rawfile.format }};base64,{{ item.rawfile.binaryLowFile|base64_encode }}" class="img-thumbnail">
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}


{# 				<ul>
				{% for item in entities %}
					<li>{{ item.id }} {{ item.nom }}</li>
					<a {{ actions.elementHref(item, null)|raw }}>{{ blocks_actions.imageprint(item, 150, null) }}</a>
					{{ dump(item) }}
				{% endfor %}
				</ul>
 #}			</div>
		</div>
	</div>
</div>

{# {{ dump() }} #}
{% endblock content %}