{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'FORM' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:sortable_nested_menu.html.twig' as nestmenu %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ 'menu.name'|trans({}, 'menus')|capitalize }} <strong> {{ bundle }}@{{ name|default('') }}</strong></h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ 'administration'|trans|capitalize }}</strong></a></li>
					<li><a href="{{ path('siteadmin_menus', {name: 'all'}) }}"><strong>{{ 'menu.name_s'|trans({}, 'menus')|capitalize }}</strong></a></li>
					<li>{{ bundle }}@{{ name|default('') }}</li>
				</ol>
			</div>
			{% if DEVMODE %}
			<div class="col-md-3 m-t-lg">
				<div class="dropdown">
					<button class="btn btn-xs btn-warning dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<i class="fa fa-plus"></i> {{ 'menu.create_btn'|trans({}, 'menus')|capitalize }}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						{% for bundle in bundles %}
						<li><a href="{{ path('siteadmin_menus_action', {name: null, bundle: bundle, action: 'create'}) }}">{{ bundle }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-8">
			<div class="ibox ">
				<div class="ibox-title">
					<span class="pull-right">{{ nestmenu.options(bundle, name) }}</span>
					<h5>{{ 'menu.name'|trans({}, 'menus')|capitalize }} <strong>{{ bundle }}@{{ name|default('') }}</strong></h5>
				</div>
				<div class="ibox-content">
					{{ nestmenu.menu(menu, bundle, name, pagewebs, translates) }}
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="ibox ">
				<div class="ibox-title">
					<h5><i class="fa fa-cog"></i> {{ UCfirst('menu.options'|trans({}, 'menus')) }}</h5>
				</div>
				<div class="ibox-content">
					{{ nestmenu.params(menu, bundle, name, pagewebs) }}
				</div>
			</div>
		</div>


		<div class="col-md-8">
			<div class="ibox ">
				<div class="ibox-title">
					<h5><i class="fa fa-cog"></i> {{ UCfirst('icon.name_s'|trans({}, 'icon')) }}</h5>
				</div>
				<div class="ibox-content">
					{{ nestmenu.icons(menu, bundle, name, pagewebs) }}
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="ibox ">
				<div class="ibox-title">
					<h5><i class="fa fa-cog"></i> {{ UCfirst('languages'|trans) }}</h5>
				</div>
				<div class="ibox-content">
					{% for language in translates.languages %}
					<p>{{ language }}</p>
					{% for key,catalogu in translates.catalogue[language] %}
					<p>{{ key }} : {{ catalogu }}</p>
					{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>


	</div>
</div>
{% endblock content %}

{% block end_javascripts %}
{{ parent() }}
{% endblock end_javascripts %}