{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-12">
				{{ UCfirst('install.name'|trans) }}
				{% for keyent,onecreated in created|default([]) %}{% if onecreated is iterable %}
					<a href="#created{{ loop.index }}" class="btn btn-xs btn-warning"><i class="fa fa-plus m-r-xs"></i>{{ onecreated|length }} {{ keyent }}</a>
				{% endif %}{% endfor %}
				
				{% for keyent,oneemptied in emptied|default([]) %}
					<a href="#deleted{{ loop.index }}" class="btn btn-xs btn-danger"><i class="fa fa-ban m-r-xs"></i>{{ oneemptied }} {{ keyent }}</a>
				{% endfor %}
			</div>
		</h2>
		<ol class="breadcrumb">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
			{% if entite|default(null) == null %}
			<li>{{ UCfirst('install.name'|trans) }}</li>
			{% else %}
			<li><a href="{{ path('generate') }}"><strong>{{ UCfirst('install.name'|trans) }}</strong></a></li>
			<li>{{ entite }}</li>
			{% endif %}
		</ol>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">

		<div class="row">
			<h2 class="col-xs-12">{{ UCfirst('install.fixfiles'|trans) }} / {{ UCfirst('admin'|trans) }}</h2>
			{% for item,data in info if data.fixtures|default(null) is iterable %}
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>{{ UCfirst('install.generation'|trans) }} <strong>{{ data.fixtures.nb }} {{ data.class }}</strong> <div class="label label-danger pull-right">Order {{ data.fixtures.ord }}</div></h3>
					</div>
					<div class="ibox-content" style='min-height: 140px;'>
						<p><small><strong>{{ UCfirst('install.info.class'|trans) }}</strong> {{ data.classname|raw }}</small></p>
						<p><small><strong>{{ UCfirst('install.info.elements'|trans) }}</strong> {{ data.size }}</small></p>
						<hr>
						<a href="{{ path('generate', {action: 'create', entite: data.class}) }}" type="button" class="btn btn-warning btn-xs{% if data.size > 0 %} need-confirmation{% endif %}" data-title="{{ UCfirst('install.message.generer.title'|trans|raw) }}" data-message="{{ UCfirst('install.message.generer.texte'|trans|raw) }}"><i class="fa fa-plus icon-wait-on-click"></i> {{ UCfirst('install.generer'|trans) }}</a>
						{% if data.size > 0 %}
						<a href="{{ path('generate', {action: 'empty', entite: data.class}) }}" type="button" class="btn btn-danger btn-xs need-confirmation" data-title="{{ UCfirst('install.message.effacer.title'|trans|raw) }}" data-message="{{ UCfirst('install.message.effacer.texte'|trans|raw) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ UCfirst('install.effacer'|trans) }}</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<hr>
			<h2 class="col-xs-12">Autres entités sans fixtures</h2>
			{% for item,data in info if data.fixtures|default(null) == null %}
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>{{ UCfirst('install.generation'|trans) }} <strong>{{ data.class }}</strong></h3>
					</div>
					<div class="ibox-content" style='min-height: 140px;'>
						<p><small><strong>{{ UCfirst('install.info.class'|trans) }}</strong> {{ data.classname|raw }}</small></p>
						<p><small><strong>{{ UCfirst('install.info.elements'|trans) }}</strong> {{ data.size }}</small></p>
						<!-- <hr> -->
						<!-- <a href="{{ path('generate', {action: 'create', entite: data.class}) }}" type="button" class="btn btn-warning btn-xs need-confirmation" data-title="{{ UCfirst('install.message.generer.title'|trans|raw) }}" data-message="{{ UCfirst('install.message.generer.texte'|trans|raw) }}"><i class="fa fa-plus icon-wait-on-click"></i> {{ UCfirst('install.generer'|trans) }}</a> -->
						<!-- <a href="{{ path('generate', {action: 'empty', entite: data.class}) }}" type="button" class="btn btn-danger btn-xs need-confirmation" data-title="{{ UCfirst('install.message.effacer.title'|trans|raw) }}" data-message="{{ UCfirst('install.message.effacer.texte'|trans|raw)}}"><i class="fa fa-times icon-wait-on-click"></i> {{ UCfirst('install.effacer'|trans) }}</a> -->
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		{% for keyent,onecreated in created|default([]) %}{% if onecreated is iterable %}
		<div class="row" id="created{{ loop.index }}">
			<div class="col-xs-12">
				<div class="alert alert-warning">
					<h3><i class="fa fa-plus m-r-xs"></i>{{ onecreated|length }} / {{ UCfirst('install.generation'|trans) }} : {{ keyent }}</h3>
					<div class="row">
						{% for key,item in onecreated %}
						<p class="col-sm-6 col-md-3 col-lg-2">{{ keyent }} : {{ item.id }} <small><em><i>({{ item.nom|default('install.sansnom'|trans) }})</i></em></small></p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		{% endif %}{% endfor %}

		{% for keyent,oneemptied in emptied|default([]) %}
		<div class="row" id="deleted{{ loop.index }}">
			<div class="col-xs-12">
				<div class="alert alert-danger">
					<h3><i class="fa fa-ban m-r-xs"></i>{{ UCfirst('install.suppression'|trans) }}</h3>
					<div class="row">
						<p class="col-sm-12">
							<strong>{{ keyent }}</strong> : {{ 'install.message.supprimes'|transchoice(oneemptied) }}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		{% endfor %}

	</div>
</div>
{% endblock content %}
