{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2><i class="fa {{ 'entite.help'|trans({}, 'icon') }}"></i></h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
					<li>{{ UCfirst('name'|trans({}, 'help')) }}</li>
				</ol>
			</div>
			{% block buttons %}
			{% endblock buttons %}
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox-content m-b-sm border-bottom">
			<div class="text-center p-lg">
				<h2>{{ UCfirst('longname'|trans({}, 'help')) }}</h2>
				<span><strong>Webmaster : {{ webmaster.nom }} {{ webmaster.prenom }}</strong><br>Tél. : {{ webmaster.tel }} | Courriel : <a href="mailto:{{ webmaster.email }}">{{ webmaster.email }}</a></span>
			</div>
		</div>
		<div class="faq-item">
			<div class="row">
				<div class="col-md-9">
					<a data-toggle="collapse" href="#faq1" class="faq-question">Comment activer/désactiver l'aide de l'application ?</a>
					<small>Ajouté par <strong>Sadmin</strong> <i class="fa fa-clock-o"></i> lun 19 janvier 2016</small>
				</div>
				<div class="col-md-3 text-right">
					<span class="small font-bold">Emmanuel Dujardin</span>
					<div class="tag-list">
						<span class="tag-item">Admin</span>
						<span class="tag-item">Helper</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="faq1" class="panel-collapse collapse">
						<div class="faq-answer row">
							<div class="col-sm-3">
								<img class="img-responsive img-rounded" src="{{ asset('bundles/laboadmin/images/support/aide_001.png') }}">
							</div>
							<div class="col-sm-9">
								<p>L'aide est visible sur la barre supérieure et dans votre menu d'administration, ou dans le menu en haut de la barre latérale gauche. Cliquez pour activer ou désactiver l'aide en ligne.</p>
								<p>Cette action est enregistrée dans vos paramètres utilisateur.</p>
								<p></p>
								<p>Note : la classe utilisée est <code>.adminhelp</code> pour l'affichage des textes d'aide.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}