{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ actions.htmlicon('calendar', 1, ['m-r-xs']) }}Agenda</h2>
				<ol class="breadcrumb ellipsis">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
					<li><a href="{{ actions.entiteLink(entity, 'show', type|default(null), type_value_joiner|default(null)) }}"><strong>{{ entity.nom }}</strong></a></li>
					<li>Agenda</li>
				</ol>
			</div>
			{% block buttons %}
			{% endblock buttons %}
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
	{% if entity != null %}
	<div class="row animated fadeInDown">
		<div class="col-lg-2">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5 class="hidden-lg">Outils <small class="inline"> - Disposez dans l'agenda&nbsp;:</small></h5>
					<h5 class="visible-lg">Outils</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-xs-12 visible-lg">
							<p>Disposez dans l'agenda&nbsp;:</p>
						</div>
						<div class="col-lg-12 col-xs-6" id='external-events'>
							{% block externals %}
							<div class='external-event text-white' style="background-color:#2572a9;">OUVERT</div>
							<div class='external-event text-white' style="background-color:rgb(95, 181, 30);">LIVRAISONS</div>
							<div class='external-event text-white' style="background-color:#c16625;">Atelier</div>
							{% endblock externals %}
						</div>
						<div class="col-lg-12 col-xs-6">
							{% block calendar_options %}
							<a id="editevent" class="btn btn-white btn-block btn-xs" cal-href="{{ url('siteadmin_calendar_edit', {eventSlug: '__slug__'}) }}"><i class="fa fa-pencil fa-1x"></i> Modifier</a>
							<button id="trash" type="button" class="btn btn-default btn-block btn-xs"><i class="fa fa-trash fa-2x"></i></button>
							{% endblock calendar_options %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-10">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Agenda <strong>{{ entity.nom }}</strong><button id="refresh_calendar" class="btn btn-xs btn-white m-l-sm" style="margin-bottom:0px;"> <i class="fa fa-refresh"></i> </button><span class="m-l-sm" id="calview"></span></h5>
				</div>
				<div class="ibox-content">
					<div id="calendar" cal-url="{{ url('siteadmin_calendar_ajax', {itemSlug: entity.slug, class: entity.shortName}) }}" cal-feed="{{ url('siteadmin_calendar_feed', {itemSlug: entity.slug, class: entity.shortName}) }}" cal-owner="{{ {slug: entity.slug, class: entity.shortName}|json_encode() }}" cal-locale="{{ app.request.locale|default(app.request.defaultLocale) }}"></div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<h2>Cet élément <strong>{{ itemSlug|json_encode }}</strong> est introuvable.</h2>
	{% endif %}
	{% if DEVMODE %}
	<div class="row">
		<div class="col-lg-12" id="devwin">
		</div>
	</div>
	{% endif %}
{% endblock content %}
