{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ actions.htmlicon('calendar', 1, ['m-r-xs']) }}Agenda</h2>
				<ol class="breadcrumb ellipsis">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
					<li><a href="{{ path('siteadmin_calendar_viewer', {itemSlug: event.ownerObject.slug, class: event.ownerObject.shortname}) }}"><strong>Agenda {{ event.ownerObject.nom }}</strong></a></li>
					<li>Modification {{ event.nom|default('') }}</li>
				</ol>
			</div>
			{% block buttons %}
			{% endblock buttons %}
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
	{% if event != null %}
	<div class="row animated fadeInDown">
		<div class="col-sm-12">
			{% block ibox %}
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Calendar {{ event.ownerObject.nom }} : {{ event.nom }}</h5>
				</div>
				<div class="ibox-content">
					{# {{ dump(event) }} #}
				</div>
			</div>
			{% endblock ibox %}
		</div>
	</div>
	{% else %}
	<h2>Cet élément <strong>{{ eventSlug|json_encode }}</strong> est introuvable.</h2>
	{% endif %}
	{# {{ dump(test) }} #}
{% endblock content %}

