{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>bundles</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_sadmin_index') }}"><strong>{{ UCfirst('superadmin.name'|trans) }}</strong></a></li>
					<li>bundles</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="col-md-12">
		<h1>Bundle actuel : {{ bundle }}</h1>
		<h1>Bundles</h1>
		{% for name,bundle in bundles if bundle matches('/^(site)/i') %}
		<p>{{ name }} : {{ bundle }}</p>
		{% endfor %}
		<h1>Bundles système</h1>
		{% for name,bundle in bundles if not (bundle matches('/^(site)/i')) %}
		<p>{{ name }} : {{ bundle }}</p>
		{% endfor %}
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}