{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'CODE' %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}
{% set ERROR = '<i class="fa fa-times text-danger"></i>' %}
{% set muted = '<i class="fa fa-times" style="color:#ddd;"></i>' %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('superadmin.name'|trans) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_sadmin_index') }}"><strong>{{ UCfirst('superadmin.name'|trans) }}</strong></a></li>
					<li><a href="{{ path('siteadmin_sadmin_entities') }}"><strong>{{ UCfirst('superadmin.entites'|trans) }}</strong></a></li>
					<li>{{ entity.shortname }}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">

				<h2 class="row">
					<div class="col-md-8 ellipsis">
						Description <i>ClassMetaData</i> de l'entité <strong><i>{{ entity.shortname }}</i></strong><br>
						<small>{{ entity.shortName }}</small>
					</div>
					<div class="col-md-4">
						<a href="{{ path('siteadmin_sadmin_entities') }}" class="pull-right btn btn-info btn-sm">Retour liste</a>
					</div>
				</h2>

				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-0">Single</a></li>
						<li><a data-toggle="tab" href="#tab-1">Associations</a></li>
						{% if entity.classinfo is defined %}
						<li><a data-toggle="tab" href="#tab-2"><small>Entité</small> <strong>{{ entity.classinfo.object.shortName }}</strong></a></li>
						{% endif %}
					</ul>
					{% set style = ' style="height: 600px; overflow-y: auto;"' %}
					<div class="tab-content">
						<div id="tab-0" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<table class="table small table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Type</th>
											<th>Get/Set</th>
											<th class="text-center">Nullable</th>
											<th class="text-center">Unique</th>
										</tr>
									</thead>
									<tbody>
										{% for fieldname,field in entity.single|default([]) %}
										<tr{% if field.isId %} class="success"{% endif %}>
											<td>
												<strong><a href="{{ path('siteadmin_sadmin_entities', {entity: entity.shortname, field: fieldname}) }}">{{ fieldname }}</a></strong>
												{% if field.isId %}<br><i class="text-muted">• Id</i>{% endif %}
											</td>
											<td>{{ field.type }}</td>
											<td>
												<i class="text-muted">- Setter : {{ field.set|default(ERROR)|raw }}(value)</i><br>
												<i class="text-muted">- Getter : {{ field.get|default(ERROR)|raw }}()</i>
												{% if field.remove != false %}
												<br>
												<i class="text-muted">- Remover : {{ field.remove|default(ERROR)|raw }}(null)</i>
												{% endif %}
											</td>
											<td class="text-center">{% if field.nullable == true %}<i class="fa fa-check text-navy"></i>{% else %}{{ muted|raw }}{% endif %}</td>
											<td class="text-center">{% if field.unique == true %}<i class="fa fa-check text-navy"></i>{% else %}{{ muted|raw }}{% endif %}</td>
										</tr>
										{% endfor %}
									<tbody>
								</table>
							</div>
						</div>
						<div id="tab-1" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<table class="table small table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
									<thead>
										<tr>
											<th>Nom</th>
											<th>Cible</th>
											<th class="text-center">Nullable</th>
											<th class="text-center">Unique</th>
											<th class="text-center">Unidir.</th>
											<th class="text-center">BiDirect.<br>Field name</th>
											<th class="text-center">isInverse<br><small><i>"mappedBy"</i></small></th>
										</tr>
									</thead>
									<tbody>
										{% for fieldname,field in entity.association|default([]) %}
										<tr{% if field.isId %} class="success"{% endif %}>
											<td>
												<p class="m-b-none"><strong>
													<a href="{{ path('siteadmin_sadmin_entities', {entity: entity.shortname, field: fieldname}) }}"{% if field.isInverse != true %} style="text-decoration:underline;"{% endif %}>{{ fieldname }}</a>
												</strong></p>
												<p class="m-b-none"><i>
												{% if field.unidir %}
												unidirectionel
												{% elseif field.isInverse != true %}
												inversedBy
												{% elseif field.bidir %}
												mappedBy
												{% else %}
												relation indéfinie (?)
												{% endif %}
												</i></p>
												{% if field.isId %}<br><i class="text-muted">• Id</i>{% endif %}
											</td>
											<td>
												<strong class="text-muted"><a href="{{ path('siteadmin_sadmin_entities', {entity: field.target.name}) }}">{{ field.target.shortName }}</a></strong><br>
												<i class="text-muted">- Setter : {{ field.set|default(ERROR)|raw }}(value)</i><br>
												<i class="text-muted">- Getter : {{ field.get|default(ERROR)|raw }}()</i>
												{% if field.remove != false %}
												<br>
												<i class="text-muted">- Remover : {{ field.remove|default(ERROR)|raw }}(null)</i>
												{% endif %}
											</td>
											<td class="text-center">{% if field.nullable == true %}<i class="fa fa-check text-navy"></i>{% else %}{{ muted|raw }}{% endif %}</td>
											<td class="text-center">{% if field.unique == true %}<i class="fa fa-check text-navy"></i>{% else %}{{ muted|raw }}{% endif %}</td>
											<td class="text-center">{% if field.unidir == true %}<i class="fa fa-check text-navy"></i>{% else %}{{ muted|raw }}{% endif %}</td>
											<td class="text-center">
												{% if field.bidir == true %}
													<i class="fa fa-check text-navy"></i>
													<br>
													<i class="text-muted">{{ field.otherSideSource }}</i>
												{% else %}
													{{ muted|raw }}
												{% endif %}
											</td>
											<td class="text-center">{% if field.isInverse == true %}<i class="fa fa-check text-navy"></i>{% else %}{{ muted|raw }}{% endif %}</td>
										</tr>
										{% endfor %}
									<tbody>
								</table>
							</div>
						</div>
						{% if entity.classinfo is defined %}
						<div id="tab-2" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h5><small>Entité</small> <strong>{{ entity.classinfo.object.shortName }}</strong></h5>
								{{ actions.objectViewer(entity.classinfo, 'entity', false) }}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}