{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('superadmin.name'|trans) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_sadmin_index') }}"><strong>{{ UCfirst('superadmin.name'|trans) }}</strong></a></li>
					<li>{{ UCfirst('superadmin.entites'|trans) }}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">

				<h2 class="row">
					<div class="col-md-12 ellipsis">Description <strong>Doctrine <i>ClassMetaData</i></strong> des entités</div>
				</h2>

				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-0">Instantiable</a></li>
						<li><a data-toggle="tab" href="#tab-1">Abstract or Interface</a></li>
						<li><a data-toggle="tab" href="#tab-2">Hiérarchie</a></li>
					</ul>
					{% set style = ' style="height: 600px; overflow-y: auto;"' %}
					<div class="tab-content">

						<div id="tab-0" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr>
											<th>Nom / classe</th>
											<th>Parents</th>
											<th>All fields</th>
											<th>Single</th>
											<th>Assoc.</th>
										</tr>
									</thead>
									<tbody>
										{% for name,data in entities if data.is_instantiable == true %}
										<tr>
											<td><strong><a href="{{ path('siteadmin_sadmin_entities', {entity: data.class}) }}">{{ actions.htmlicon(data.class, 1, ['m-r-xs']) }}{{ data.class }}</a></strong><br><i class="text-muted">Class {{ data.class|default('<small><i class="text-warning">(sys.)</i></small> ' ~ data.shortName)|raw }}</i></td>
											<td>{{ data.object.parentsClassNames(true)|default({})|join('<br>')|raw }}</td>
											<td>{{ data.single|length + data.association|length }}</td>
											<td>{{ data.single|length }}</td>
											<td>{{ data.association|length }}</td>
										</tr>
										{% endfor %}
									<tbody>
								</table>
							</div>
						</div>

						<div id="tab-1" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr>
											<th>Nom / classe</th>
											<th>All fields</th>
											<th>Single</th>
											<th>Assoc.</th>
										</tr>
									</thead>
									<tbody>
										{% for name,data in entities if data.is_instantiable == false %}
										<tr>
											<td>
												<strong><a href="#">{{ data.class }}</a></strong><br>
												<i class="text-muted">Class {{ name }}</i>
											</td>
											<td>{{ data.single|length + data.association|length }}</td>
											<td>{{ data.single|length }}</td>
											<td>{{ data.association|length }}</td>
										</tr>
										{% endfor %}
									<tbody>
								</table>
							</div>
						</div>

						<div id="tab-2" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h4>Structure de hiérarchie des entités</h4>
								{{ actions.entitehierarchy(hierarchy, 'hierarchy_01') }}
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}

{% block end_javascripts %}

	$('.hierarchy').jstree();

{% endblock end_javascripts %}