{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('superadmin.entites'|trans) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_sadmin_index') }}"><strong>{{ UCfirst('superadmin.name'|trans) }}</strong></a></li>
					<li><a href="{{ path('siteadmin_sadmin_entities') }}"><strong>{{ UCfirst('superadmin.entites'|trans) }}</strong></a></li>
					<li>{{ entity.name }}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">Description <strong><i>ClassMetaData</i></strong> des entités Doctrine</div>
					<div class="col-md-4">
					</div>
				</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>Nom / classe</th>
						</tr>
					</thead>
					<tbody>
						{% for name,data in entities %}
						<tr>
							<td><strong><a href="{{ path('siteadmin_sadmin_entities', {entity: name}) }}">{{ name }}</a></strong><br><i class="text-muted">{{ data.shortName }}</i></td>
						</tr>
						{% endfor %}
					<tbody>
				</table>
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}