{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'panier' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'sitesiteBundle:blocks:articles_actions.html.twig' as articles_macros %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('superadmin.name'|trans) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li>{{ UCfirst('superadmin.name'|trans) }}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if DEVMODE %}
	<div class="col-md-12 m-b-lg">
		{% set notpanierableCircle = ' <i class="fa fa-fw fa-circle" style="color:red;" title="{{ panier.article.statut.nom }}"></i>' %}
		<h1>Test panier / User <strong>{{ app.user }}</strong></h1>
		<!-- panier_user -->
		<!-- panier_info -->
		<h5>Liste des articles du panier de l'utilisateur {{ app.user }}</h5>
		{# {% for pan in panier_user|default([]) %} #}
		{# <span> {{ pan.quantite }} x {{ pan.article.nom }} <small><i class='text-muted'>{{ pan.volume }}{{ pan.unit }}</i></small></span><br> #}
		{# {% endfor %} #}
		<div pla-repeat="onepanier in panier.paniers">
			<div>[[ onepanier.quantite ]] x [[ onepanier.article.nom ]] <small><i class='text-muted'>[[ onepanier.volume ]] [[ onepanier.unit ]]</i></small></div>
		</div>
		<hr class="m-t-xs m-b-xs">
		<p class="m-b-none" pla-vars>• Nombre total d'articles : [[ panier.quantite ]]</p>
		<p class="m-b-none" pla-vars>• Nombre d'articles (par unité) : [[ panier.bytype ]]</p>
		<p class="m-b-none" pla-vars>• Nombre d'articles différents : [[ panier.byarticle ]]</p>
		<p class="m-b-none" pla-vars>• Prix Total : [[ panier.prixtotal ]] {{ marketplace.devises[app.request.locale].symb }}<sup>TTC</sup></p>

		<p class="m-t-sm m-b-none">Ajouter 1</p>
		{% for article in articles %}
		{% set getdata = {action: 'add', article: article.id, quantite: 1, volume: article.defaultquantity, unit: article.unit, user: app.user.id|default(null)}|json_encode %}
		<a href="{{ path('panier_test_action', {getdata: getdata}) }}" class="btn btn-xs btn-default m-b-xs"><i class="fa fa-fw fa-plus"></i>{% if not article.isPanierable %} <i class="fa fa-fw fa-circle" style="color:red;" title="{{ article.statut.nom }}"></i>{% endif %} {{ article.nom }}</a>
		{% endfor %}
		<div class="clearfix"></div>
		<hr>

		{% set quantites = [1, 5, 10] %}
		<p class="m-t-sm m-b-none">Ajouter {{ quantites|join(', ') }} existant au panier</p>
		{% for panier in panier_user %}
		{% for quantite in quantites %}
			{% set getdata = {action: 'add', quantite: quantite, panier: panier.uniquid, user: app.user.id|default(null)}|json_encode %}
			{% set notpanierable = '' %}
			{% if not panier.article.isPanierable %}{% set notpanierable = notpanierableCircle %}{% endif %}
			<a href="{{ path('panier_test_action', {getdata: getdata}) }}" class="btn btn-xs btn-info m-b-xs"><i class="fa fa-fw fa-plus"></i>{{ notpanierable|raw }} {{ quantite }} {{ panier.article.nom }} {{ panier.volume }}{{ panier.unit }}</a>
		{% endfor %}
		<br>
		{% endfor %}
		<br>

		<p class="m-t-sm m-b-none">Supprimer {{ quantites|join(', ') }} existant au panier</p>
		{% for panier in panier_user %}
		{% for quantite in quantites %}
			{% set getdata = {action: 'supp', quantite: quantite, panier: panier.uniquid, user: app.user.id|default(null)}|json_encode %}
			{% set notpanierable = '' %}
			{% if not panier.article.isPanierable %}{% set notpanierable = notpanierableCircle %}{% endif %}
			<a href="{{ path('panier_test_action', {getdata: getdata}) }}" class="btn btn-xs btn-warning m-b-xs"><i class="fa fa-fw fa-minus"></i>{{ notpanierable|raw }} {{ quantite }} {{ panier.article.nom }} {{ panier.volume }}{{ panier.unit }}</a>
		{% endfor %}
		<br>
		{% endfor %}
		<br>

		<p class="m-t-sm m-b-none">Supprimer totalement article</p>
		{% for panier in panier_user %}
		{% set getdata = {action: 'remove', panier: panier.uniquid, user: app.user.id|default(null)}|json_encode %}
		<a href="{{ path('panier_test_action', {getdata: getdata}) }}" class="btn btn-xs btn-warning m-b-xs"><i class="fa fa-fw fa-times"></i> {{ panier.article.nom }} {{ panier.volume }}{{ panier.unit }}</a>
		{% endfor %}
		<br>

		<div class="clearfix"></div>
		<hr>

		<p>Vider le panier GET / POST</p>
		{% set getdata = {action: 'empty', user: app.user.id|default(null)}|json_encode %}
		<a href="{{ path('panier_test_action', {getdata: getdata}) }}" class="btn btn-md btn-danger m-b-xs need-confirmation" data-title="Vider le panier" data-message="Voulez-vous vraiment supprimer tous les articles du panier ?"><i class="fa fa-fw fa-trash icon-wait-on-click"></i> Vider GET</a>&nbsp;
		<a pla-enable="panier.quantite > 0" class="panier-data panier-action btn btn-md btn-danger m-b-xs" {{ articles_macros.paramsLine('empty') }}><i class="fa for-pulse fa-fw fa-trash"></i> Vider POST</a>

		<div class="clearfix"></div>
		<hr>

		<p class="m-t-sm m-b-none">Ajouter 1 via article Box</p>
		{% for article in articles %}
		{{ articles_macros.boxArticleProducts(article) }}
		{% endfor %}
		<div class="clearfix"></div>


	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-fw fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}