{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>Routes</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_sadmin_index') }}"><strong>{{ UCfirst('superadmin.name'|trans) }}</strong></a></li>
					<li>Routes</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="col-md-12">
		<h1>Routes website/webadmin</h1>
		{% for route in aetools_Urlroutes.allRoutes if not (route matches('/^(_|fos_user_)/i')) %}
		<p class="m-b-none">{{ route }}</p>
		{% endfor %}
		<h1>Routes FOS UserBundle</h1>
		{% for route in aetools_Urlroutes.allRoutes if route matches('/^fos_user_/i') %}
		<p class="m-b-none">{{ route }}</p>
		{% endfor %}
		<h1>Routes Assetic</h1>
		{% for route in aetools_Urlroutes.allRoutes if route matches('/^_assetic/i') %}
		<p class="m-b-none">{{ route }}</p>
		{% endfor %}
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{% endblock content %}