{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('superadmin.name'|trans) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li>{{ UCfirst('superadmin.name'|trans) }}</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	{% set collapsed = " collapsed" %}
	{% set collapsed = "" %}
	{% set partname = 'service' %}
	<div class="col-lg-12">
		<div class="ibox{{ collapsed }}">
			<div class="ibox-title">
				<h5>
					<small>List</small> <strong>Session datas</strong>
					{% if (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
					<small> / AJAX Lasts: <span class="ajax_lasts"></span> / Session: <span class="ajax_session"></span> / Timelaps: <span class="ajax_timelaps"></span> / REFRESH Lasts: <span class="refresh_lasts"></span> / Session: <span class="refresh_session"></span> / Timelaps: <span class="refresh_timelaps"></span></small>
					{% endif %}
				</h5>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-xs-12">

						<table class="table table-striped table-bordered table-hover dtr-inline" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
							<thead>
								<tr>
									<th>Session ID</th>
									<th class='text-center'>ajaxlive<small> (<a href="http://php.net/manual/fr/function.crc32.php" target="_blank">crc32</a>)</small></th>
									<th>Created / since</th>
									<th>Updated / since</th>
									<th class='text-center'>Deprecated</th>
								</tr>
							</thead>
							<tbody TemplaxZone pla-repeat="session in globals.sessiondata">
								<tr>
									<td>[[ session.id ]]<br>Ip : <strong>[[ session.ip ]]</strong> <i>(User <strong>[[ session.user ]]</strong>)</i></td>
									<td class='text-center'>[[ session.ajaxlive ]]</td>
									<td>[[ session.created ]]<br><small class='text-muted'>- Since [[ session.created_since ]] second(s)</small></td>
									<td>[[ session.updated ]]<br><small class='text-muted'>- Since [[ session.updated_since ]] second(s)</small></td>
									<td class='text-center'>[[ session.is_deprecated ]]</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="col-md-8 col-md-offset-2 alert alert-danger text-center">
		<h2><i class="fa fa-times"></i> Vous n'êtes pas autorisé à accéder à cette section.</h2>
	</div>
	{% endif %}
</div>
{# {{ dump(sessiondatas) }} #}
{% endblock content %}