{% extends 'LaboAdminBundle:bases:base_simple.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite, lessphp'
'bundles/laboadmin/framework_inspinia/css/plugins/dataTables/dataTables.bootstrap.css'
'bundles/laboadmin/framework_inspinia/css/plugins/dataTables/dataTables.responsive.css'
'bundles/laboadmin/framework_inspinia/css/plugins/dataTables/dataTables.tableTools.min.css'
'bundles/laboadmin/framework_inspinia/css/plugins/jsTree/style.min.css'
output="css/labo/base_TAB.css" %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block bodyattr %}{{ parent() }}{% endblock bodyattr %}

{% block body %}
{{ parent() }}
{% endblock body %}

{% block hiddendata %}{{ parent() }}{% endblock hiddendata %}

{% block javascripts %}
{{ parent() }}
{% javascripts
'bundles/laboadmin/js/jquery.mask.min.js'
'bundles/laboadmin/js/inspinia-form_widgets.js'
'bundles/laboadmin/framework_inspinia/js/plugins/dataTables/jquery.dataTables.js'
'bundles/laboadmin/framework_inspinia/js/plugins/dataTables/dataTables.bootstrap.js'
'bundles/laboadmin/framework_inspinia/js/plugins/dataTables/dataTables.responsive.js'
'bundles/laboadmin/framework_inspinia/js/plugins/dataTables/dataTables.tableTools.min.js'
'bundles/laboadmin/init/init-datatables.js'
'bundles/laboadmin/framework_inspinia/js/plugins/jsTree/jstree.min.js'
output="js/labo/base_TAB.js" %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock javascripts %}

{% block themeConfig %}
{{ parent() }}
{% endblock themeConfig %}