{% extends 'LaboAdminBundle:bases:base_simple.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite, lessphp'
'bundles/laboadmin/framework_inspinia/cropper-master/dist/cropper.css'
'bundles/laboadmin/framework_inspinia/noUiSlider.8.3.0/nouislider.css'
'bundles/laboadmin/framework_inspinia/noUiSlider.8.3.0/nouislider.pips.css'
'bundles/laboadmin/framework_inspinia/noUiSlider.8.3.0/nouislider.tooltips.css'
'bundles/laboadmin/css/nestable.css'
output='css/labo/base_FORM.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block bodyattr %}{{ parent() }}{% endblock bodyattr %}

{% block body %}
{{ parent() }}
{% endblock body %}

{% block hiddendata %}{{ parent() }}{% endblock hiddendata %}

{% block javascripts %}
{{ parent() }}
{% javascripts
'bundles/laboadmin/js/jquery.mask.min.js'
'bundles/laboadmin/js/inspinia-form_widgets.js'
'bundles/laboadmin/framework_inspinia/cropper-master/dist/cropper.js'
'bundles/laboadmin/js/inspinia-cropper.js'
'bundles/laboadmin/framework_inspinia/noUiSlider.8.3.0/nouislider.js'
output='js/labo/base_FORM.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock javascripts %}

{% block themeConfig %}
{{ parent() }}
{% endblock themeConfig %}