{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th class="text-center" style="width:1%;">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							<th class="text-center" style="width:1%;">{{ UCfirst('fields.image'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							{# {% if not DEVMODE %} #}
							{# <th>{{ UCfirst('fields.accroche'|trans({}, entite_name)) }}</th> #}
							<th>Dossiers parents</th>
{# 							{% else %}
							<th>Enfants / Parents</th>
							{% endif %} #}
							<th>{{ UCfirst('fields.prix'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						<tr>
							{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
							{% if DEVMODE %}<td class="text-center"{{ bgcolor|raw }}>{{ entite.id }}</td>{% endif %}
							<td class="text-center"{{ bgcolor|raw }}>
								{% if entite.mainMedia|default(null) != null %}
								<a href="{{ path('siteadmin_entite', {entite: entite.mainMedia.shortName, id: entite.mainMedia.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" title="{{ UCfirst('moredetails'|trans({'%name%': entite.mainMedia.nom}, entite.shortName)) }}">
									<img src="{{ entite.mainMedia.imgThumbnail(64, 64, 'cut') }}" class="img-responsive img-thumbnail">
								</a>
								{% else %}
								<i class="fa fa-ban fa-3x text-muted fa-border"></i>
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								<p class="m-b-none">
									{{ actions.htmlicon(entite, 1, ['m-r-xs']) -}}
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite.shortName, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.shortName)) }}"><strong>{{ entite.nom }}</strong></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'show'}) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom})) }}"><strong>{{ entite.nom }}</strong></a>
									{% endif %}
								</p>
								{% if entite.marque != null %}<p class="m-b-none"><small>{{ UCfirst('name'|trans({}, 'marque')) }} <strong>{{ entite.marque.nom|json_encode }}</strong></small></p>{% endif %}
								{% if entite.statut is defined %}
								{% if entite.statut.id > 1 %}<p class="m-b-none"><small><i>({{ entite.statut.nom }})</i></small></p>{% endif %}
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','delete','active','vendable'], type) }}
							</td>
							{# {% if not DEVMODE %} #}
							{# <td{{ bgcolor|raw }}>{{ entite.accroche|raw }}</td> #}
							<td{{ bgcolor|raw }}>{{ actions.labelLinkList(entite.allParentsByGroup('nesteds'), entite.parentsByGroup('nesteds'), null, type, type_value_joiner, 'show') }}</td>
{# 							{% else %}
							<td{{ bgcolor|raw }}>
								<p><strong>Dossiers parents</strong></p>
								{{ actions.labelLinkList(entite.allNestedParentsByClass('categorie'), entite.nestedParentsByClass('categorie'), null, type, type_value_joiner, 'edit') }}
								<hr>
								{% for name,attribute in entite.nestedAttributesParameters %}
								<p><strong>{{ UCfirst(name) }}</strong> <i>parents</i></p>
								{{ actions.labelLinkList(entite.allNestedParentsByClass(attribute.class), entite.nestedParentsByClass(attribute.class), null, type, type_value_joiner, 'edit') }}
								<p><strong>{{ UCfirst(name) }}</strong> <i>enfants</i></p>
								{{ actions.labelLinkList(entite.nestedChildsByGroup(name), entite.nestedChildsByGroup(name), null, type, type_value_joiner, 'edit') }}
								{% endfor %}
							</td>
							{% endif %} #}
							<td{{ bgcolor|raw }}><strong>{{ UCfirst('fields.TTC'|trans({}, entite.shortName)) }} {{ articlePrix(entite)|raw }}</strong><br>{{ UCfirst('fields.HT'|trans({}, entite.shortName)) }} {{ articlePrixHT(entite)|raw }}<br>{{ UCfirst('fields.TVA'|trans({}, entite.shortName)) }} {{ entite.tauxTva.taux|number_format(2, ',', ' ') }}%</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}