{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'LaboAdminBundle:blocks:sortable_nested_categories.html.twig' as nestcat %}

{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ entite.nom|raw }}{% if entite.marque|default(null) != null %} <small>- {{ entite.marque.nom|raw }}</small>{% endif %}{% if entite.statut.id > 1 %} - <small><i>({{ entite.statut.nom }})</i></small>{% endif %}</h3>
			</div>
			<div class="ibox-content">
				{% if entite.accroche != null %}<small>{{ entite.accroche|raw }}</small>{% endif %}
				<table class="table table-striped table-bordered table-hover" role="grid">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>{{ UCfirst('fields.prix'|trans({}, entite.shortName)) }} {{ 'fields.TTC'|trans({}, entite.shortName) }}</strong></td>
							<td>{{ entite|articlePrice|raw }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.prix'|trans({}, entite.shortName)) }} {{ 'fields.HT'|trans({}, entite.shortName) }}</strong></td>
							<td>{{ entite|articlePrice(true)|raw }}</td>
						</tr>
						<tr>
							<td><strong>En vente</strong></td>
							<td>
								{% if entite.vendable %}OUI{% else %}NON{% endif %}&nbsp;{{ actions.entiteButtons(entite, ['vendable'], type) }}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.TVA'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ entite.tauxTVA.taux|number_format(2, ',', '') }}% <i>({{ entite.tauxTVA.nom }})</i></td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.keywords'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ entite.keywords }}</td>
						</tr>
						<tr>
							<td>
								<strong>{{ UCfirst('fields.reseaus'|trans({}, entite.shortName)) }}</strong>{{ actions.sortSymbol(entite, 'articles_reseaus') }}
							</td>
							<td>
								{{ actions.sortList(entite, 'articles_reseaus', null, type, type_value_joiner) }}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.parents'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ actions.labelLinkList(entite.allParentsByGroup('categorie_nested'), entite.parentsByGroup('categorie_nested'), null, type, type_value_joiner, 'show') }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.created'|trans({}, entite.shortName)) }}</strong></td>
							<td>0
								{{ entite.created|date(formatDateHeure) }}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.updated'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{% if entite.updated|default(null) != null %}
								{{ entite.updated|date(formatDateHeure) }}
								{% else %}
								<small><i class='text-muted'>({{ UCfirst('fields.jamais'|trans({}, entite.shortName)) }})</i></small>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.autres'|trans({}, entite.shortName)) }}</h3>
			</div>
			<div class="ibox-content">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#tab-1"><i class="fa {{ actions.icon('texte') }}"></i></a></li>
						<li class="active"><a data-toggle="tab" href="#tab-2"><i class="fa {{ actions.icon('article') }}"></i></a></li>
						<li><a data-toggle="tab" href="#tab-3"><i class="fa {{ actions.icon('image') }}"></i></a></li>
						<li><a data-toggle="tab" href="#tab-4"><i class="fa {{ actions.icon('fiche') }}"></i></a></li>
						<li><a data-toggle="tab" href="#tab-5"><i class="fa {{ actions.icon('tag') }}"></i></a></li>
					</ul>
					{% set style = ' style="height: 280px; overflow-y: auto;"' %}
					<div class="tab-content">
						<div id="tab-1" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy' style='margin-top:0px;'>{{ UCfirst('fields.descriptif'|trans({}, entite.shortName)) }}</h3>
								<hr class="m-t-xs m-b-xs">
								{{ entite.descriptif|raw }}
							</div>
						</div>
						<div id="tab-2" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy' style='margin-top:0px;'>Articles conseillés{{ actions.sortSymbol(entite, 'articles') }}</h3>
								{{ actions.sortList(entite, 'articles', null, type, type_value_joiner) }}
								<hr class="m-t-xs m-b-xs">
								<h3 class='text-navy' style='margin-top:0px;'>Articles qui le conseillent</h3>
								{% if entite.group_articlesParents|length > 0 %}
								{{ actions.labelLinkList(entite.group_articlesParents, [], null, type, type_value_joiner, 'show') }}
								{% else %}
								<p>{{ UCfirst('not_found'|trans({}, entite.shortName)) }}</p>
								{% endif %}
							</div>
						</div>
						<div id="tab-3" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy' style='margin-top:0px;'>{{ UCfirst('name_s'|trans({}, 'image')) }}{{ actions.sortSymbol(entite, 'images') }}</h3>
								<hr class="m-t-xs m-b-xs">
								{{ actions.sortList(entite, 'images', null, type, type_value_joiner) }}
							</div>
						</div>
						<div id="tab-4" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy' style='margin-top:0px;'>{{ UCfirst('name_s'|trans({}, 'fiche')) }}{{ actions.sortSymbol(entite, 'article_ficherecette') }}</h3>
								<hr class="m-t-xs m-b-xs">
								{{ actions.sortList(entite, 'article_ficherecette', null, type, type_value_joiner) }}
								<hr class="m-t-xs m-b-xs">
								<h3 class='text-navy' style='margin-top:0px;'>{{ UCfirst('name_s'|trans({}, 'fiche')) }}{{ actions.sortSymbol(entite, 'article_ficheboisson') }}</h3>
								{{ actions.sortList(entite, 'article_ficheboisson', null, type, type_value_joiner) }}
							</div>
						</div>
						<div id="tab-5" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy' style='margin-top:0px;'>{{ UCfirst('name_s'|trans({}, 'tag')) }}</h3>
								<hr class="m-t-xs m-b-xs">
								{% if entite.tags|length > 0 %}
								{{ actions.labelLinkList(entite.tags, [], null, type, type_value_joiner, 'show') }}
								{% else %}
								<p>{{ UCfirst('not_found'|trans({}, 'tag')) }}</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="clearfix"></div> -->
			</div>
		</div>
	</div>

</div>
<div class="row">

	<div class="col-sm-6 col-md-4 col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.image'|trans({}, entite.shortName)) }} {% if entite.mainMedia != null %}<a href="{{ path('siteadmin_entite', {entite: entite.shortName, action: 'delete_linked_image', id: entite.id}) }}" data-title="{{ UCfirst('supprime.nom'|trans({}, 'image')) }}" data-message="{{ UCfirst('supprime.confirm-definitif'|trans({}, 'image')) }}" class="btn btn-xs btn-white pull-right need-confirmation"><i class="fa fa-times icon-wait-on-click"></i></a>{% endif %}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.mainMedia|default(null) != null %}
				<img src="{{ entite.mainMedia.img|raw }}" class="img-responsive center-block img-rounded">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

{# 	<div class="col-sm-6 col-md-8 col-lg-9">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>Articles conseillées</h3>
			</div>
			<div class="ibox-content">
				<div id="jsajx-{{ entite.id }}" class="jstree-ajax" jstree-plugins="" jstree-types="[]" jstree-groups="articles"></div>
			</div>
		</div>
	</div>
 #}
	{# <div class="clearfix hidden-lg"></div> #}

	
	{% set images = entite.childsByGroup('images') %}
	{% if images|length > 0 %}
	<div class="col-sm-6 col-md-4 col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>+{{ images|length }} photo{{ plur(images) }}</h3>
			</div>
			<div class="ibox-content">
				<div class="carousel slide" id="carousel1">
					<div class="carousel-inner">
						{% for image in images %}
						<div class="item{% if loop.first %} active{% endif %}">
							<img src="{{ image.img|raw }}" class="img-responsive center-block img-rounded">
						</div>
						{% endfor %}
					</div>
					<a data-slide="prev" href="#carousel1" class="left carousel-control">
						<span class="icon-prev"></span>
					</a>
					<a data-slide="next" href="#carousel1" class="right carousel-control">
						<span class="icon-next"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	

	<div class="clearfix"></div>

</div>
{% endblock content %}

{% block end_javascripts %}
{{ parent() }}
{{ nestcat.nestedtreeAjax() }}
{% endblock end_javascripts %}
