{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>{{ entite.nom|raw }}{% if entite.statut.id > 1 %} - <small><i>({{ entite.statut.nom }})</i></small>{% endif %}{% if entite.default|default(null) != null %} <button class="btn btn-xs {% if entite.default %}btn-primary{% else %}bt-white{% endif %}"><i class="fa fa-star"></i></button>{% endif %}</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover" role="grid">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>{{ UCfirst('fields.created'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{{ entite.created|date(formatDateHeure) }}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.updated'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{% if entite.updated|default(null) != null %}
								{{ entite.updated|date(formatDateHeure) }}
								{% else %}
								<small><i class='text-muted'>({{ UCfirst('fields.jamais'|trans({}, entite.shortName)) }})</i></small>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td><strong>Agenda</strong></td>
							<td>
								<a href="{{ path('siteadmin_calendar_viewer', {itemSlug: entite.slug, class: entite.shortname}) }}" type="button" class="btn btn-default btn-xs">{{ actions.htmlicon('calendar', 1, ['m-r-xs']) }}horaires</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.image'|trans({}, entite.shortName)) }} {% if entite.image != null %}<a href="{{ path('siteadmin_entite', {entite: entite.shortName, action: 'delete_linked_image', id: entite.id}) }}" data-title="{{ UCfirst('supprime.nom'|trans({}, 'image')) }}" data-message="{{ UCfirst('supprime.confirm-definitif'|trans({}, 'image')) }}" class="btn btn-xs btn-white pull-right need-confirmation"><i class="fa fa-times icon-wait-on-click"></i></a>{% endif %}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.image|default(null) != null %}
				<img src="{{ entite.image.img|raw }}" class="img-responsive center-block img-rounded">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4 col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.logo'|trans({}, entite.shortName)) }} {% if entite.logo != null %}<a href="{{ path('siteadmin_entite', {entite: entite.shortName, action: 'delete_linked_logo', id: entite.id}) }}" data-title="{{ UCfirst('supprime.nom'|trans({}, 'image')) }}" data-message="{{ UCfirst('supprime.confirm-definitif'|trans({}, 'image')) }}" class="btn btn-xs btn-white pull-right need-confirmation"><i class="fa fa-times icon-wait-on-click"></i></a>{% endif %}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.logo|default(null) != null %}
				<img src="{{ entite.logo.img|raw }}" class="img-responsive center-block img-rounded">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</div>
{% endblock content %}