{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = cssjsloads|default('FORM') %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-8">{{ UCfirst('name'|trans({}, create_form.vars.value.shortName)) }}</div>
			<div class="col-md-4">
				<a href="{{ path('siteadmin_entite', {entite: create_form.vars.value.shortName}) }}" type="button" class="btn btn-xs btn-white pull-right"><i class="fa fa-bars icon-wait-on-click"></i> {{ UCfirst('backlist_btn'|trans({}, create_form.vars.value.shortName)) }}</a>
			</div>
		</h2>
		{% block breadcrumb %}
		<ol class="breadcrumb ellipsis col-md-9">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findRoots'}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findCollectionsByType', repoParams: create_form.vars.value.type}) }}"><strong>Types {{ UCfirst(('types.' ~ create_form.vars.value.type)|trans({}, create_form.vars.value.shortName|default('?'))) }}</strong></a></li>
			{% for parent in create_form.vars.value.categorieParents_inverse %}
				<li><a href="{{ actions.entiteLink(parent, 'show', type, type_value_joiner) }}"><strong>{{ parent.nom }}</strong></a></li>
			{% endfor %}
			<li><strong class="data-report text-success" data-report-target="#{{ create_form.vars.full_name }}_nom">{{ create_form.vars.value.nom }}</strong></li>
			<li>{{ UCfirst('actions.creation'|trans) }}</li>
		</ol>
		{% endblock breadcrumb %}
	</div>
</div>
{% endblock page_heading %}

{% block content %}

	{% set noErrors = ['submit', 'submit2', '_token', 'hidden'] %}
	{% set prior = ["submit2", "nom", "name"] %}
	{% set lasts = ["submit"] %}
    {{ form_start(create_form) }}
    {{ form_errors(create_form) }}

    {% for item in prior if create_form[item] is defined %}
        {{ form_row(create_form[item]) }}
        {% if item not in noErrors %}{{ form_errors(create_form[item]) }}{% endif %}
    {% endfor %}

    {% for fieldname,child in create_form.children if ((fieldname not in prior) and (fieldname not in lasts)) %}
        {{ form_row(child) }}
        {% if fieldname not in noErrors %}{{ form_errors(child) }}{% endif %}
    {% endfor %}
    
    {% for item in lasts if create_form[item] is defined %}
        {{ form_row(create_form[item]) }}
        {% if item not in noErrors %}{{ form_errors(create_form[item]) }}{% endif %}
    {% endfor %}

    {{ form_rest(create_form) }}
    {{ form_end(create_form) }}

	{% if DEVMODE %}
	<p>Level : {{ create_form.vars.value.lvl }} / Type : {{ create_form.vars.value.type }} / Parent : {{ create_form.vars.value.categorieParent.nom|default('aucun') }} / {{ create_form.vars.value.categorieParents|length }} parent(s)</p>
	{% endif %}

{% endblock content %}