{% extends 'LaboAdminBundle:entites:entiteEdit.html.twig' %}
{% set cssjsloads = 'FORM' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-8 ellipsis">{{ actions.htmlicon(entite_name, 1, ['m-r-xs']) }}{{ UCfirst('name'|trans({}, edit_form.vars.value.shortName)) }}</div>
			<div class="col-md-4">
				<a href="{{ path('siteadmin_entite', {entite: edit_form.vars.value.shortName}) }}" type="button" class="btn btn-xs btn-white pull-right"><i class="fa fa-bars icon-wait-on-click"></i> {{ UCfirst('backlist_btn'|trans({}, edit_form.vars.value.shortName)) }}</a>
			</div>
		</h2>
		{% block breadcrumb %}
		<ol class="breadcrumb ellipsis col-md-9">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findRoots'}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findCollectionsByType', repoParams: entite.type|default('?')}) }}"><strong>Types {{ UCfirst(('types.' ~ entite.type|default('?'))|trans({}, entite.shortName|default('?'))) }}</strong></a></li>
			{% for parent in edit_form.vars.value.categorieParents_inverse %}
				<li><a href="{{ actions.entiteLink(parent, 'show', type, type_value_joiner) }}"><strong>{{ parent.nom }}</strong></a></li>
			{% endfor %}
			<li><a href="{{ path('siteadmin_show_categorie', {id: edit_form.vars.value.id}) }}"><strong class="data-report text-success" data-report-target="#{{ edit_form.vars.full_name }}_nom">{{ edit_form.vars.value.nom }}</strong></a></li>
			<li>{{ UCfirst('actions.modification'|trans) }}</li>
		</ol>
		{% endblock breadcrumb %}
	</div>
</div>
{% endblock page_heading %}

{% block content %}

	{% if is_granted(entite.statut.niveau|default('ROLE_USER')) %}

	{% set noErrors = ['submit', 'submit2', '_token', 'hidden'] %}
	{% set prior = ["submit2", "nom", "name"] %}
	{% set lasts = ["submit"] %}
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {% for item in prior if edit_form[item] is defined %}
        {{ form_row(edit_form[item]) }}
        {% if item not in noErrors %}{{ form_errors(edit_form[item]) }}{% endif %}
    {% endfor %}

    {% for fieldname,child in edit_form.children if ((fieldname not in prior) and (fieldname not in lasts)) %}
        {{ form_row(child) }}
        {% if fieldname not in noErrors %}{{ form_errors(child) }}{% endif %}
    {% endfor %}
    
    {% for item in lasts if edit_form[item] is defined %}
        {{ form_row(edit_form[item]) }}
        {% if item not in noErrors %}{{ form_errors(edit_form[item]) }}{% endif %}
    {% endfor %}

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}

    <div class="m-t-lg m-b-lg"></div>
    <div class="m-t-lg m-b-lg"></div>

	{% else %}
	{{ include('LaboAdminBundle:blocks:entite_interdit.html.twig', {entite: entite}) }}
	{% endif %}

	{% if DEVMODE %}
	<p>Level : {{ edit_form.vars.value.lvl }} / Type : {{ edit_form.vars.value.type }} / Parent : {{ edit_form.vars.value.categorieParent.nom|default('aucun') }} / {{ edit_form.vars.value.categorieParents|length }} parent(s)</p>
	{% endif %}

{% endblock content %}

