{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'LaboAdminBundle:blocks:sortable_nested_categories.html.twig' as nestcat %}

{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block breadcrumb %}
	<ol class="breadcrumb ellipsis">
		<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
		{% if repo.method|default(null) == 'findRoots' %}
		<li>{{ UCfirst('name_s'|trans({}, entite_name)) }}</li>
		{% elseif repo.method|default(null) == 'findCollectionsByType' %}
		<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findRoots'}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
		<li>{{ UCfirst(('types.' ~ repo.repoParams)|trans({}, entite_name)) }}</li>
		{% else %}
		<li><a href="{{ path('siteadmin_repo_categorie', {method: 'findRoots'}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
		{% if type.type_values|default(null) != null %}
		<li>{% for typename in type.type_values %}{{ ('types.' ~ typename)|trans({}, entite_name) }}{% if not loop.last %}+{% endif %}{% endfor %}</li>
		{% else %}
		<li>{{ UCfirst('name_s'|trans({}, entite_name)) }}</li>
		{% endif %}
		{% endif %}
	</ol>
{% endblock breadcrumb %}

{% block buttons %}
	{% if DEVMODE %}
	<a href="{{ path('siteadmin_create_categorie', {rootParent: null}) }}" type="button" class="btn btn-xs btn-danger pull-right"><i class="fa fa-plus icon-wait-on-click"></i> create new</a>
	<button id='check-categories-types' check-href="{{ path('categorie_check_types') }}" type="button" class="btn btn-xs btn-danger pull-right"><i class="fa fa-check icon-wait-on-click"></i> Check types of all</button>
	{% endif %}
	{% if (roots_list|default([])|length > 0) and (repo.method|default(null) == 'findRoots') %}
	<div class="btn-group pull-right m-r-xs">
		<button data-toggle="dropdown" type="button" class="btn btn-xs btn-warning dropdown-toggle"><i class="fa fa-plus icon-wait-on-click m-r-sm"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }} <span class="caret"></span></button>
		<ul class="dropdown-menu">
			{% for rootItem in roots_list -%}
			<li>
				<a href="{{ path('siteadmin_create_categorie', {rootParent: rootItem.id}) }}">
					{{- rootItem.nom -}}<small><i class='text-muted m-l-sm'>{{- rootItem.type -}}</i></small>
				</a>
			</li>
			{%- endfor %}
		</ul>
	</div>
	{% elseif repo.method|default(null) == 'findCollectionsByType' %}
	{# <a href="{{ path('siteadmin_create_categorie', {rootParent: repo.repoParams}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click m-r-sm"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }} {{ repo.repoParams|join(',') }}</a> #}
	{% endif %}
{% endblock buttons %}


{% block content %}
{% if repo.method|default(null) == 'findRoots' or (type.type_field == 'lvl' and type.type_values == [0]) %}
<div class="row">
	<div class="col-md-12">
		{% if entites|length > 0 %}
		{% for entite in entites %}
		<div class="col-lg-4 col-sm-6">
			<a href="{{ path('siteadmin_repo_categorie', {method: 'findCollectionsByType', repoParams: entite.type}) }}">
				<div class="widget style1 white-bg">
					<div class="row">
						<div class="col-xs-3">
							{{ actions.htmlicon(entite, 4, ['text-muted']) }}
						</div>
						<div class="col-xs-9 text-right">
							<h2 class="font-bold text-muted ellipsis" data-placement="bottom" data-toggle="tooltip" title="{{ UCfirst(entite.nom) }}">{{ UCfirst(entite.nom) }}</h2>
							<span class="text-muted"><em>Type {{ UCfirst(('types.' ~ entite.type)|trans({}, entite.shortName)) }}</em> <a href="{{ actions.entiteLink(entite, 'edit', type) }}"><i class="fa fa-pencil text-muted"></i></a> {{ actions.colorDot(entite.couleur, '1x') }} {{ entite.group_categorie_nestedChilds|length }}</span>
						</div>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
		{% else %}
		<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
		{% endif %}
	</div>
</div>
{% else %}
{% set limit = 12 %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th class="text-center">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}{# UCfirst('fields.image'|trans({}, entite_name)) #}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							<th class="text-center">{{ UCfirst('fields.couleur'|trans({}, entite_name)) }}</th>
							{% if DEVMODE %}
							<th class="text-center">{{ UCfirst('fields.lvl'|trans({}, entite_name)) }}</th>
							{% endif %}
							<th>{{ UCfirst('fields.parents'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.children'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.subEntitys'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							<td{{ bgcolor|raw }} class="text-center">{{ entite.id }}</td>
							<td{{ bgcolor|raw }}>
								<i class="fa {{ actions.icon(entite) }} m-r-xs"></i>
								{% if type.type_values|default(null) != null %}
								<a href="{{ path('siteadmin_list_categorie', {type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ (entite.shortName ~ '.moredetails')|trans({'%name%': entite.nom}) }}"><strong>{{ entite.nom|trans({}, entite.shortName) }}</strong></a>
								{% else %}
								<a href="{{ path('siteadmin_show_categorie', {id: entite.id}) }}" title="{{ (entite.shortName ~ '.moredetails')|trans({'%name%': entite.nom}) }}"><strong>{{ entite.nom|trans({}, entite.shortName) }}</strong></a>
								{% endif %}
								<p title="{{ UCfirst('fields.type'|trans({}, entite_name)) }} : {{ entite.accepts|join(' / ')|raw }}">{{ ('types.' ~ entite.type)|trans({}, entite_name) }}</p>
								{% if entite.image|default(null) != null %}
								<br>
								<a href="{{ path('siteadmin_entite', {entite: entite.image.shortName, id: entite.image.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('moredetails'|trans({'%name%': entite.image.nom}, entite.shortName)) }}">
									<img src="{{ entite.image.imgThumbnail(64, 64, 'cut')|raw }}" class="img-responsive img-thumbnail">
								</a>
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit', 'create','delete','active'], repo) }}
							</td>
							<td{{ bgcolor|raw }} class="text-center">
								{{ actions.colorDot(entite.couleur) }}
							</td>
							{% if DEVMODE %}
							{% set nbparents = entite.categorieParents|length %}
							<td{{ bgcolor|raw }} class="text-center">{{ entite.lvl|default('?') }}<br>{{ nbparents }}&nbsp;parent{% if nbparents > 1 %}s{% endif %}</td>
							{% endif %}
							<td{{ bgcolor|raw }}>{{ actions.labelLinkList(entite.categorieParents_inverse, [entite.categorieParent], null, repo, type_value_joiner, 'show', limit) }}</td>
							<td{{ bgcolor|raw }}>{{ actions.labelLinkList(entite.allCategorieChilds, entite.categorieChilds, null, repo, type_value_joiner, 'show', limit) }}</td>
							<td{{ bgcolor|raw }}>{{ actions.labelLinkList(entite.allNestedChildsByGroup('nesteds'), entite.childsByGroup('nesteds'), null, type, type_value_joiner, 'show', limit) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}

{% block end_javascripts %}
{{ parent() }}
{{ nestcat.nestedtreeAjax() }}

$('#check-categories-types').on('click', function (e) {
	var URL = $(this).attr('check-href');
	$.when(
		$.ajax({
			url: URL,
			method: 'post',
		}).fail(function (e) {
			tempErrorIcon();
		})
	).done(function (aeReponse) {
			console.log('Check aeReponse:', aeReponse);
			alert(aeReponse.message);
			disableAllIconWait();
		}
	);
});

{% endblock end_javascripts %}


