{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = cssjsloads|default('simple') %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			{% block headtitle %}
			<div class="col-md-8 ellipsis">{{ actions.htmlicon(entite_name, 1, ['m-r-xs']) }}{{ UCfirst('name'|trans({}, entite.shortName)) }} <strong>{{ entite.nom|default('#' ~ entite.id)|trans({}, entite.shortName) }}</strong></div>
			{% endblock headtitle %}
			{% block buttons %}
			<div class="col-md-4">
				<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ UCfirst('actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)})) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ UCfirst('actions.supprimer'|trans) }}</a>
				<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right m-r-xs"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a>
				{#
				<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}" type="button" class="btn btn-xs btn-white pull-right"><i class="fa fa-eye icon-wait-on-click"></i> {{ UCfirst('actions.voir'|trans) }}</a>
				#}
				<a href="{{ path('siteadmin_entite', {entite: entite_name}) }}" type="button" class="btn btn-xs btn-white pull-right m-r-xs"><i class="fa fa-bars icon-wait-on-click m-r-xs"></i> {{ UCfirst('backlist_btn'|trans({}, entite.shortName)) }}</a>
				<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, action: 'create'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click"></i> {{ UCfirst('create_btn'|trans({}, entite.shortName)) }}</a> -->
			</div>
			{% endblock buttons %}
		</h2>
		{% block breadcrumb %}
		<ol class="breadcrumb ellipsis col-md-9">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_entite', {entite: entite_name}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite.shortName)) }}</strong></a></li>
			<li>{{ entite.nom|default('#' ~ entite.id)|trans({}, entite.shortName) }}</li>
		</ol>
		{% endblock breadcrumb %}
		<div class="col-md-3">
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
{% if is_granted(entite.statut.niveau|default('ROLE_USER')) %}
<div class="row">

	<div class="col-md-8">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ entite.nom|default('#' ~ entite.id) }}{% if entite.default|default(null) != null %} <button class="btn btn-xs {% if entite.default %}btn-primary{% else %}bt-white{% endif %}"><i class="fa fa-star"></i></button>{% endif %}</div>
					<div class="col-md-4">
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ UCfirst('actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)})) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ UCfirst('actions.supprimer'|trans) }}</a> -->
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a> -->
					</div>
				</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
						</tr>
					</thead>
					<tbody>
						{% if entite.nom is defined %}
						<tr>
							<td><strong>{{ UCfirst('table.col.nom'|trans) }}</strong></td>
							<td>{{ entite.nom }}</td>
						</tr>
						{% endif %}
						{% if entite.slug is defined %}
						<tr>
							<td><strong>{{ UCfirst('table.col.slug'|trans) }}</strong></td>
							<td>{{ entite.slug }}</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	{#
	<div class="col-md-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>Logotype</h3>
			</div>
			<div class="ibox-content text-center" style='min-height: 180px;'>
				{% if entite.logoImage.fichierNom is defined %}
				<img src="{{ asset('images/logo/' ~ entite.logoImage.fichierNom) }}" class="img-rounded img-responsive center-block">
				{% else %}
				<i class="fa fa-times fa-3x text-muted"></i>
				{% endif %}
			</div>
		</div>
	</div>
	#}


</div>
{% else %}
{{ include('LaboAdminBundle:blocks:entite_interdit.html.twig', {entite: entite}) }}
{% endif %}
{% endblock content %}