{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = cssjsloads|default('FORM') %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-8 ellipsis">{{ actions.htmlicon(entite_name, 1, ['m-r-xs']) }}{{ UCfirst(('name')|trans({}, entite.shortName)) }} <strong>{{ entite.nom|trans({}, entite.shortName) }}</strong></div>
			<div class="col-md-4">
				<a href="{{ path('siteadmin_entite', {entite: edit_form.vars.value.shortName, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" data-message="{{ UCfirst('actions.suppQuestion'|trans({'%name%': entite.nom|trans({}, entite.shortName)})) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ UCfirst('actions.supprimer'|trans) }}</a>
				<a href="{{ path('siteadmin_entite', {entite: edit_form.vars.value.shortName, id: entite.id, action: 'show'}) }}" type="button" class="btn btn-xs btn-white pull-right m-r-xs"><i class="fa fa-eye icon-wait-on-click"></i> {{ UCfirst('actions.voir'|trans) }}</a>
				<a href="{{ path('siteadmin_entite', {entite: edit_form.vars.value.shortName}) }}" type="button" class="btn btn-xs btn-white pull-right m-r-xs"><i class="fa fa-bars icon-wait-on-click"></i> {{ UCfirst(('backlist_btn')|trans({}, entite.shortName)) }}</a>
			</div>
		</h2>
		{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_entite', {entite: edit_form.vars.value.shortName}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite.shortName)) }}</strong></a></li>
			<li><a href="{{ path('siteadmin_entite', {entite: edit_form.vars.value.shortName, id: entite.id, action: 'show'}) }}"><strong class="data-report text-success" data-report-target="#{{ edit_form.vars.full_name }}_nom">{{ edit_form.vars.value.nom }}</strong></a></li>
			<li>{{ UCfirst('actions.modification'|trans) }}</li>
		</ol>
		{% endblock breadcrumb %}
	</div>
</div>
{% endblock page_heading %}


{% block content %}

	{% if is_granted(entite.statut.niveau|default('ROLE_EDITOR')) %}
	{% form_theme edit_form 'sitegraphicsBundle:Form:performed_bootstrap_3_horizontal_layout_laboadmin.html.twig' %}

	{% set prior = ["nom"] %}
	{% set lasts = ["submit"] %}
	{{ form_start(edit_form) }}
	{{ form_errors(edit_form) }}

	{% for item in prior if edit_form[item] is defined %}
		{{ form_row(edit_form[item]) }}
	{% endfor %}

	{% for key,child in edit_form.children if ((key not in prior) and (key not in lasts)) %}
		{{ form_row(child) }}
	{% endfor %}
	
	{% for item in lasts if edit_form[item] is defined %}
		{{ form_row(edit_form[item]) }}
	{% endfor %}

	{{ form_rest(edit_form) }}
	{{ form_end(edit_form) }}

	{% else %}
	{{ include('LaboAdminBundle:blocks:entite_interdit.html.twig', {entite: entite}) }}
	{% endif %}

{% endblock content %}