{% extends 'LaboAdminBundle::page_admin_generic.html.twig' %}
{% set cssjsloads = cssjsloads|default('TAB') %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ actions.htmlicon(entite_name, 1, ['m-r-xs']) }}{{ UCfirst('name_s'|trans({}, entite_name)) }}{% if type.type_values|default(null) != null %} - {% for typename in type.type_values %}{{ typename|trans({}, entite_name) }}{% if not loop.last %}+{% endif %}{% endfor %}{% endif %} <small>{{ UCfirst('x_found'|transchoice(entites|length, {}, entite_name)) }}</small></h2>
				{% block breadcrumb %}
				<ol class="breadcrumb ellipsis">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
					{% if type.type_values|default(null) != null %}
					<li><a href="{{ path('siteadmin_entite', {entite: entite_name}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
					<li>{% for typename in type.type_values %}{{ typename|trans({}, entite_name) }}{% if not loop.last %}+{% endif %}{% endfor %}</li>
					{% else %}
					<li>{{ UCfirst('name_s'|trans({}, entite_name)) }}</li>
					{% endif %}
				</ol>
				{% endblock breadcrumb %}
			</div>
			<div class="col-md-3 m-t-lg">
				{% block buttons %}
				{% if form_pre_create is not defined %}
					{% if type.type_values|default([])|length > 0 %}
						{% for typ in type.type_values %}
						<a href="{{ actions.entiteLink(entite_name, 'create', {type_related: type.type_related, type_values: [typ], type_field: type.type_field}, type_value_joiner) }}" type="button" class="btn btn-xs btn-warning pull-right m-r-xs"><i class="fa fa-plus icon-wait-on-click m-r-sm"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }} {{ typ }}</a>
						{% endfor %}
					{% else %}
					<a href="{{ path('siteadmin_entite', {entite: entite_name, action: 'create'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click m-r-xs"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }}</a>
					{% endif %}
				{% else %}
				<div class="btn-group pull-right">
					<button data-toggle="dropdown" type="button" class="btn btn-xs btn-warning dropdown-toggle"><i class="fa fa-plus m-r-xs"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }} <span class="caret"></span></button>
					<ul class="dropdown-menu">
						{% if type.type_values|default([])|length > 0 %}
						{% for typename in type.type_values %}
						<li class="dropdown-header">{{ typename|trans({}, entite_name) }}</li>
						{% endfor %}
						<li class="divider"></li>
						{% endif %}
						<li class="dropdown-header">{{ form(form_pre_create) }}</li>
					</ul>
				</div>
				{% endif %}
				{% endblock buttons %}
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th class="text-center">{{ UCfirst('table.col.id'|trans) }}</th>
							<th>
								{% if entites.0.nom is defined %}
									{{ UCfirst('table.col.nom'|trans) }}
								{% elseif entites.0.slug is defined %}
									{{ UCfirst('table.col.slug'|trans) }}
								{% else %}
									{{ UCfirst('table.col.id'|trans) }}
								{% endif %}
							</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							{% if entites.0.slug is defined %}
							<th>{{ UCfirst('table.col.slug'|trans) }}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							<td class="text-center"{{ bgcolor|raw }}>
								<a href="{{ actions.entiteLink(entite, 'show', type, type_value_joiner) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom|default(entite.id)}, entite.shortName)) }}"><strong>{{ entite.id }}</strong></a>
							</td>
							<td{{ bgcolor|raw }}>
							{% if entite.nom is defined %}
								<a href="{{ actions.entiteLink(entite, 'show', type, type_value_joiner) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.shortName)) }}"><strong>{{ entite.nom }}</strong></a>
							{% elseif entite.slug is defined %}
								<a href="{{ actions.entiteLink(entite, 'show', type, type_value_joiner) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.slug}, entite.shortName)) }}"><strong>{{ entite.slug }}</strong></a>
							{% else %}
								<a href="{{ actions.entiteLink(entite, 'show', type, type_value_joiner) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.id}, entite.shortName)) }}"><strong>{{ entite.id }}</strong></a>
							{% endif %}
							{% if entite.statut is defined %}
							{% if entite.statut.id > 1 %}<br><small><i>({{ entite.statut.nom }})</i></small>{% endif %}
							{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','delete', 'default','active'], type, type_value_joiner) }}
								{# - OFF ----------------------
								{% if DEVMODE %}
								<hr class="m-b-xs m-t-xs">
								<div class="btn-group">
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker article {{ entite.nom|default('#' ~ entite.id) }}"><i class="fa fa-check"></i></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker article {{ entite.nom|default('#' ~ entite.id) }}"><i class="fa fa-check"></i></a>
									{% endif %}
								</div>
								{% endif %}
								- OFF ---------------------- #}
							</td>
							{% if entite.slug is defined %}
							<td{{ bgcolor|raw }}>{{ entite.slug }}</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}