{% extends 'LaboAdminBundle:entites:entiteCreate.html.twig' %}
{% set cssjsloads = 'FORM' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}


{% block content %}

	{% if is_granted(entite.statut.niveau|default('ROLE_EDITOR')) %}
	{% form_theme create_form 'sitegraphicsBundle:Form:performed_bootstrap_3_horizontal_layout_laboadmin.html.twig' %}

	{{ form_start(create_form) }}
	{{ form_errors(create_form) }}

	<div class="tabs-container">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab-1">Textes</a></li>
			<li><a data-toggle="tab" href="#tab-2">Dates</a></li>
			<li><a data-toggle="tab" href="#tab-3">Lieu</a></li>
			<li><a data-toggle="tab" href="#tab-4">Liens</a></li>
			<li><a data-toggle="tab" href="#tab-5">Réservations</a></li>
			<li><a data-toggle="tab" href="#tab-6">Médias</a></li>
		</ul>
		{% set style = ' style="min-height: 280px;"' %}
		<div class="tab-content">
			<div id="tab-1" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["nom","soustitre","descriptif"] %}
					{% for item in list if create_form[item] is defined %}
						{{ form_row(create_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-2" class="tab-pane">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["debut","fin"] %}
					{% for item in list if create_form[item] is defined %}
						{{ form_row(create_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-3" class="tab-pane">
				<div class="panel-body"{{ style|raw }}>
					<div class="row">
						<div class="col-xs-12">
							<p class="adminhelp">
								Vous pouvez indiquer le cabinet de votre choix pour le lieux, ou indiquer une adresse différente en-dessous.
								<br>
								Si vous indiquez un cabinet ET une adresse différente, les données du cabinet seront utilisées pour les champs restés vides.
							</p>
						</div>
					</div>
					{{ form_row(create_form["boutique"]) }}
					<p>ou</p>
					{% set list = ["telfixe","mobile","email","adresse"] %}
					{% for item in list if create_form[item] is defined %}
						{{ form_row(create_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-4" class="tab-pane">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["group_evenementsChilds","group_evenement_fichethemeChilds"] %}
					{% for item in list if create_form[item] is defined %}
						{{ form_row(create_form[item]) }}
					{% endfor %}
					<hr class="m-t-sm m-b-md">
					{{ form_row(create_form["group_nestedsParents"]) }}
				</div>
			</div>
			<div id="tab-5" class="tab-pane">
				<div class="panel-body"{{ style|raw }}>
					<div class="row">
						<div class="col-xs-12">
							<p class="adminhelp">
								Places : nombre de places total pour l'évènement. Indiquez "0" ou nul pour désactiver les réservations.
								<br>
								Nombre de réservations : indique le nombre maximum de places qu'une personne peut prendre lors d'une réservation. Si "0", "1" ou nul, la personne ne peut réserver que pour elle-même.
							</p>
						</div>
					</div>
					{% set list = ["places","multiplaces"] %}
					{% for item in list if create_form[item] is defined %}
						{{ form_row(create_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-6" class="tab-pane">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["couleur","tags","image"] %}
					{% for item in list if create_form[item] is defined %}
						{{ form_row(create_form[item]) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<hr>
	{{ form_widget(create_form["submit"]) }}

	<div style="display:none;">{{ form_rest(create_form) }}</div>
	{{ form_end(create_form) }}

	{% endif %}

{% endblock content %}

