{% extends 'LaboAdminBundle:entites:entiteEdit.html.twig' %}
{% set cssjsloads = 'FORM' %}
{% set DEVMODE = (app.environment in ['dev', 'test']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% import 'LaboAdminBundle:blocks:actions.html.twig' as actions %}


{% block content %}

	{% if is_granted(entite.statut.niveau|default('ROLE_EDITOR')) %}
	{% form_theme edit_form 'sitegraphicsBundle:Form:performed_bootstrap_3_horizontal_layout_laboadmin.html.twig' %}

	{{ form_start(edit_form) }}
	{{ form_errors(edit_form) }}

	<div class="tabs-container">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab-1">{{ UCfirst('onglets.textes'|trans({}, entite.shortName)) }}</a></li>
			<li><a data-toggle="tab" href="#tab-2">{{ UCfirst('onglets.conditions'|trans({}, entite.shortName)) }}</a></li>
			<li><a data-toggle="tab" href="#tab-3">{{ UCfirst('onglets.reservations'|trans({}, entite.shortName)) }}</a></li>
			<li><a data-toggle="tab" href="#tab-4">{{ UCfirst('onglets.local'|trans({}, entite.shortName)) }}</a></li>
			<li><a data-toggle="tab" href="#tab-5">{{ UCfirst('onglets.links'|trans({}, entite.shortName)) }}</a></li>
			<li><a data-toggle="tab" href="#tab-6">{{ UCfirst('onglets.medias'|trans({}, entite.shortName)) }}</a></li>
		</ul>
		{% set style = ' style="min-height: 280px;"' %}
		<div class="tab-content">
			<div id="tab-1" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["nom","soustitre","descriptif"] %}
					{% for item in list if edit_form[item] is defined %}
						{{ form_row(edit_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-2" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["debut","fin","intervenant","conditions"] %}
					{% for item in list if edit_form[item] is defined %}
						{{ form_row(edit_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-3" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					{% if edit_form["places"] is defined %}
						{{ form_row(edit_form["places"]) }}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-2">
								<p class="adminhelp">Places : nombre de places total pour l'évènement. Indiquez "0" ou nul pour désactiver les réservations.</p>
							</div>
						</div>
					{% endif %}
					{% if edit_form["multiplaces"] is defined %}
						{{ form_row(edit_form["multiplaces"]) }}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-2">
								<p class="adminhelp">Nombre de réservations : indique le nombre maximum de places qu'une personne peut prendre lors d'une réservation. Si "0" ou nul, la personne ne peut réserver que pour elle-même.</p>
							</div>
						</div>
					{% endif %}
					{% if edit_form["delaimodif"] is defined %}
						{{ form_row(edit_form["delaimodif"]) }}
						<div class="row">
							<div class="col-sm-10 col-sm-offset-2">
								<p class="adminhelp">Le délai pour annulation (ou modification) des réservations est exprimé en heures. Ne pas indiquer les unités, mais juste le chiffre, svp.</p>
							</div>
						</div>
					{% endif %}
					{% if edit_form["tarif"] is defined %}
						{{ form_row(edit_form["tarif"]) }}
					{% endif %}
					{% if edit_form["detailtarifs"] is defined %}
						{{ form_row(edit_form["detailtarifs"]) }}
					{% endif %}
				</div>
			</div>
			<div id="tab-4" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					<div class="row">
						<div class="col-xs-12">
							<p class="adminhelp">
								Vous pouvez indiquer le cabinet de votre choix pour le lieux, ou indiquer une adresse différente en-dessous.
								<br>
								Si vous indiquez un cabinet ET une adresse différente, les données du cabinet seront utilisées pour les champs restés vides.
							</p>
						</div>
					</div>
					{{ form_row(edit_form["boutique"]) }}
					<p>ou</p>
					{% set list = ["telfixe","mobile","email","adresse"] %}
					{% for item in list if edit_form[item] is defined %}
						{{ item == "adresse" ? form_widget(edit_form[item]) : form_row(edit_form[item]) }}
					{% endfor %}
				</div>
			</div>
			<div id="tab-5" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["group_evenementsChilds","group_evenement_fichethemeChilds"] %}
					{% for item in list if edit_form[item] is defined %}
						{{ form_row(edit_form[item]) }}
					{% endfor %}
					<hr class="m-t-sm m-b-md">
					{{ form_row(edit_form["group_nestedsParents"]) }}
				</div>
			</div>
			<div id="tab-6" class="tab-pane active">
				<div class="panel-body"{{ style|raw }}>
					{% set list = ["couleur","tags","image"] %}
					{% for item in list if edit_form[item] is defined %}
						{{ item == "image" ? form_widget(edit_form[item]) : form_row(edit_form[item]) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<hr>
	{{ form_widget(edit_form["submit"]) }}

	<div style="display:none;">{{ form_rest(edit_form) }}</div>
	{{ form_end(edit_form) }}

	{% endif %}

{% endblock content %}

{% block end_javascripts %}
	{{ parent() }}

	$tab_container = $('.tabs-container');
	if($tab_container.length) {
		$tab_container.each(function (index1) {
			$('ul.nav-tabs > li', $(this)).each(function (index2) {
				if(!$(this).hasClass('active')) {
					target = $('> a', $(this)).attr('href');
					$(target).removeClass('active');
				}
			});
		});
	}

{% endblock end_javascripts %}







