{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>{{ entite.nom|raw }}{% if entite.default|default(null) != null %} <button class="btn btn-xs {% if entite.default %}btn-primary{% else %}bt-white{% endif %}"><i class="fa fa-star"></i></button>{% endif %}</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover" role="grid">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Durée</strong></td>
							<td>
								{{ entite.infoDuree.days }} jour{{ plur(entite.infoDuree.days) }}
							</td>
						</tr>
						<tr>
							<td><strong>Période</strong></td>
							<td>
								{{ UCfirst(intervalDateFR(entite.debut, entite.fin, false))|raw }}
							</td>
						</tr>
						<tr>
							<td><strong>Réservations - Tarif</strong></td>
							<td>
								{{ entite.isReservable ? '<span class="text-danger">OUVERTES</span> - ' : '<span class="text-muted">CLOSES</span> - ' }}{{ entite.tarif|default(0) > 0 ? entite.tarif|number_format(2, ',', '') ~ '€' : 'GRATUIT' }}
							</td>
						</tr>
						<tr>
							<td><strong>Annulation/modification</strong></td>
							<td>
								{{ entite.delaimodif|default(0) }} heure{{ plur(entite.delaimodif|default(0), 's') }} avant
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('intervenant'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{{ entite.intervenant }}
							</td>
						</tr>
{# 						<tr>
							<td><strong>{{ UCfirst('onglets.conditions'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{{ entite.conditions|raw }}
							</td>
						</tr> #}
{# 						<tr>
							<td>
								<strong>Agenda</strong>
								<p><a href="{{ path('siteadmin_calendar_viewer', {itemSlug: entite.slug, class: entite.shortName}) }}" type="button" class="btn btn-default btn-xs">{{ actions.htmlicon(entite.shortname, 1, ['m-r-xs']) }}agenda</a></p>
							</td>
							<td>
								{% for calendar in entite.calendars %}
								<p class="m-t-none m-b-none">- {{ calendar.nom }}</p>
								{% endfor %}
							</td>
						</tr> #}
						<tr>
							<td>
								<strong>Évènements enfants</strong>
							</td>
							<td>
								{{ actions.labelLinkList(entite.childsByGroup('evenements'), [], null, type, type_value_joiner, 'show') }}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Évènements parents</strong>
							</td>
							<td>
								{{ actions.labelLinkList(entite.parentsByGroup('evenements'), [], null, type, type_value_joiner, 'show') }}
							</td>
						</tr>
						<tr>
							<td>
								<strong>{{ UCfirst('fields.group_evenement_fichethemeChilds'|trans({}, 'evenement')) }}</strong>
							</td>
							<td>
								{{ actions.labelLinkList(entite.childsByGroup('evenement_fichetheme'), [], null, type, type_value_joiner, 'show') }}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.created'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{{ entite.created|date(formatDateHeure) }}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.updated'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{% if entite.updated|default(null) != null %}
								{{ entite.updated|date(formatDateHeure) }}
								{% else %}
								<small><i class='text-muted'>({{ UCfirst('fields.jamais'|trans({}, entite.shortName)) }})</i></small>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Réservations <span class="pie">{{ entite.numberofreservations }}/{{ entite.places }}</span></h2>
				<p class='m-t-xs m-b-none'>Nombre de personnes ayant réservé : {{ entite.numberofusers }}</p>
				<p class='m-t-xs m-b-none'>Nombre total de places : {{ entite.places }}</p>
				<p class='m-t-xs m-b-none'>Nombre total de réservations : {{ entite.numberofreservations }}</p>
				<p class='m-t-xs m-b-none'>Nombre de places restantes : <strong>{{ entite.places - entite.numberofreservations < 0 ? 0 : entite.places - entite.numberofreservations }}</strong></p>
				<hr>
				<table class="table table-striped table-bordered table-hover" role="grid">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for userevenement in entite.userevenements %}
						<tr>
							<td>
								<p class='m-t-xs m-b-xs'><strong>{{ userevenement.user.username }}</strong></p>
								<p class='m-t-xs m-b-xs'>Position : {{ userevenement.position }}</p>
							</td>
							<td>
								<p class='m-t-xs m-b-xs'>Quantité : {{ userevenement.quantity }}</p>
								<p class='m-t-xs m-b-xs'>Statut : {{ userevenement.statename }}</p>
							</td>
							<td>
								<a href="{{ path('site_evenement_reservation_remove', {evenementSlug: userevenement.evenement.slug,username: userevenement.user.username}) }}" class='btn btn-xs btn-danger' data-title='Supprimer cette réservation ?'><i class="fa fa-times m-r-xs icon-wait-on-click"></i>Supprimer</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{# 	<div class="col-md-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.image'|trans({}, entite.shortName)) }} {% if entite.image != null %}<a href="{{ path('siteadmin_entite', {entite: entite.shortName, action: 'delete_linked_image', id: entite.id}) }}" data-title="{{ UCfirst('supprime.nom'|trans({}, 'image')) }}" data-message="{{ UCfirst('supprime.confirm-definitif'|trans({}, 'image')) }}" class="btn btn-xs btn-white pull-right need-confirmation"><i class="fa fa-times icon-wait-on-click"></i></a>{% endif %}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.image|default(null) != null %}
				<img src="{{ entite.image.img|raw }}" class="img-responsive center-block img-rounded">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div> #}

	<div class="clearfix"></div>

</div>

{# <div class="row">

	<div id='external-events' class="col-xs-12">

		<a id="refresh_calendar" type="button" class="btn btn-white btn-sm pull-left" cal-href="{{ url('siteadmin_calendar_edit', {eventSlug: '__slug__'}) }}" title="Modifier"><i class="fa fa-refresh"></i></a>
		<div type="button" class="btn btn-primary btn-sm external-event text-white pull-left m-l-xs">Nouveau</div>
		<div type="button" class="btn btn-default btn-sm external-event text-white pull-left m-l-xs">Vernissage</div>
		<div type="button" class="btn btn-warning btn-sm external-event text-white pull-left m-l-xs">Pause</div>

		<button id="trash" type="button" class="btn btn-default btn-sm pull-right"><i class="fa fa-trash fa-1x"></i></button>
		<a id="editevent" type="button" class="btn btn-white btn-sm pull-right" cal-href="{{ url('siteadmin_calendar_edit', {eventSlug: '__slug__'}) }}" title="Modifier"><i class="fa fa-pencil fa-1x m-r-xs"></i>Modifier</a>
	</div>
	<div class="col-xs-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Agenda <strong>{{ entite.nom }}</strong><span class="m-l-sm" id="calview"></span></h5>
			</div>
			<div class="ibox-content">
				<div id="calendar" cal-url="{{ url('siteadmin_calendar_ajax', {itemSlug: entite.slug, class: entite.shortName}) }}" cal-feed="{{ url('siteadmin_calendar_feed', {itemSlug: entite.slug, class: entite.shortName}) }}" cal-owner="{{ {slug: entite.slug, class: entite.shortName}|json_encode() }}" cal-locale="{{ app.request.locale|default(app.request.defaultLocale) }}"></div>
			</div>
		</div>
	</div>

</div> #}

{% endblock content %}

{% block end_javascripts %}
// Peity jQuery plugin version 2.0.3
// (c) 2014 Ben Pickles
//
// http://benpickles.github.io/peity
//
// Released under MIT license.
(function(e, q, h) {
    var o = function(a, b) {
            var c = q.createElementNS("http://www.w3.org/2000/svg", a);
            e.each(b, function(a, b) {
                c.setAttribute(a, b)
            });
            return c
        },
        t = "createElementNS" in q && o("svg", {}).createSVGRect,
        r = 1 / (window.devicePixelRatio || 1),
        j = e.fn.peity = function(a, b) {
            t && this.each(function() {
                var c = e(this),
                    d = c.data("peity");
                if (d) a && (d.type = a), e.extend(d.opts, b);
                else {
                    var f = j.defaults[a],
                        g = {};
                    e.each(c.data(), function(a, b) {
                        a in f && (g[a] = b)
                    });
                    var h = e.extend({}, f, g, b),
                        d = new s(c, a, h);
                    c.change(function() {
                        d.draw()
                    }).data("peity",
                        d)
                }
                d.draw()
            });
            return this
        },
        s = function(a, b, c) {
            this.$el = a;
            this.type = b;
            this.opts = c
        },
        m = s.prototype;
    m.draw = function() {
        j.graphers[this.type].call(this, this.opts)
    };
    m.fill = function() {
        var a = this.opts.fill,
            b = a;
        e.isFunction(b) || (b = function(b, d) {
            return a[d % a.length]
        });
        return b
    };
    m.prepare = function(a, b) {
        var c;
        this.svg ? c = e(this.svg).empty() : (this.svg = o("svg", {
            "class": "peity"
        }), this.$el.hide().after(this.svg), c = e(this.svg).data("peity", this));
        this.svg.setAttribute("height", b);
        this.svg.setAttribute("width", a);
        return c
    };
    m.values = function() {
        return e.map(this.$el.text().split(this.opts.delimiter), function(a) {
            return parseFloat(a)
        })
    };
    j.defaults = {};
    j.graphers = {};
    j.register = function(a, b, c) {
        this.defaults[a] = b;
        this.graphers[a] = c
    };
    j.register("pie", {
        delimiter: null,
        diameter: 16,
        fill: ["#ff9900", "#fff4dd", "#ffc66e"]
    }, function(a) {
        if (!a.delimiter) {
            var b = this.$el.text().match(/[^0-9\.]/);
            a.delimiter = b ? b[0] : ","
        }
        b = this.values();
        if ("/" == a.delimiter) var c = b[0],
            b = [c, h.max(0, b[1] - c)];
        for (var d = 0, c = b.length, f = 0; d < c; d++) f += b[d];
        for (var a =
                this.prepare(a.width || a.diameter, a.height || a.diameter), d = a.width(), g = a.height(), a = d / 2, g = g / 2, p = h.min(a, g), e = h.PI, j = this.fill(), i = -e / 2, d = 0; d < c; d++) {
            var n = b[d],
                l = n / f,
                k;
            if (0 != l) {
                if (1 == l) k = o("circle", {
                    cx: a,
                    cy: g,
                    r: p
                });
                else {
                    k = 2 * l * e;
                    var l = i + k,
                        m = p * h.cos(i) + a,
                        i = p * h.sin(i) + g,
                        q = p * h.cos(l) + a,
                        r = p * h.sin(l) + g;
                    k = o("path", {
                        d: ["M", a, g, "L", m, i, "A", p, p, 0, k > e ? 1 : 0, 1, q, r, "Z"].join(" ")
                    });
                    i = l
                }
                k.setAttribute("fill", j.call(this, n, d, b));
                this.svg.appendChild(k)
            }
        }
    });
    j.register("line", {
        delimiter: ",",
        fill: "#c6d9fd",
        height: 16,
        max: null,
        min: 0,
        stroke: "#4d89f9",
        strokeWidth: 1,
        width: 32
    }, function(a) {
        var b = this.values();
        1 == b.length && b.push(b[0]);
        for (var c = h.max.apply(h, b.concat([a.max])), d = h.min.apply(h, b.concat([a.min])), f = this.prepare(a.width, a.height), g = f.width(), f = f.height() - a.strokeWidth, e = g / (b.length - 1), c = c - d, j = 0 == c ? f : f / c, m = f + d * j, c = [0, m], i = 0; i < b.length; i++) c.push(i * e, f - j * (b[i] - d) + a.strokeWidth / 2);
        c.push(g, m);
        b = o("polygon", {
            fill: a.fill,
            points: c.join(" ")
        });
        this.svg.appendChild(b);
        a.strokeWidth && (a = o("polyline", {
            fill: "transparent",
            points: c.slice(2, c.length - 2).join(" "),
            stroke: a.stroke,
            "stroke-width": a.strokeWidth,
            "stroke-linecap": "square"
        }), this.svg.appendChild(a))
    });
    j.register("bar", {
        delimiter: ",",
        fill: ["#4D89F9"],
        gap: 1,
        height: 16,
        max: null,
        min: 0,
        width: 32
    }, function(a) {
        for (var b = this.values(), c = h.max.apply(h, b.concat([a.max])), d = h.min.apply(h, b.concat([a.min])), f = this.prepare(a.width, a.height), g = f.width(), f = f.height(), e = c - d, j = 0 == e ? 0 : f / e, a = a.gap, g = (g + a) / b.length, m = this.fill(), i = 0; i < b.length; i++) {
            var n = b[i],
                l = f - j * (n - d),
                k = j * n;
            if (0 ==
                k) {
                if (k = r, 0 >= d && 0 < c || 0 == e) l -= r
            } else 0 > k && (l += k, k = -k);
            n = o("rect", {
                fill: m.call(this, n, i, b),
                x: i * g,
                y: l,
                width: g - a,
                height: k
            });
            this.svg.appendChild(n)
        }
    })
})(jQuery, document, Math);

	$("span.pie").peity("pie", {
	    fill: ['#1ab394', '#d7d7d7', '#ffffff']
	});

{% endblock end_javascripts %}