{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
	{% block buttons %}
	{% endblock buttons %}
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>Statut</th>
							<th>{{ UCfirst('table.col.id'|trans) }}</th>
							<th>À préparer pour</th>
							<th class="text-right">Total<sup>{{ UCfirst('fields.TTC'|trans({}, 'tauxTva')) }}</sup></th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							<th>Informations</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if (entite.state in [0,2,4,5] or DEVMODE) %}
							{% set bgcolor = ' style="background-color:transparent;"' %}
							{% if entite.state == 0 %}
								{% if fromNow(entite.delailivraison, 'minutes') > -180 %}{% set bgcolor = ' style="background-color:rgba(255, 129, 0, 0.75);"' %}{% endif %}
								{% if fromNow(entite.delailivraison, 'minutes') > -10 %}{% set bgcolor = ' style="background-color:#960000;"' %}{% endif %}
							{% endif %}
						<tr>
							<td{{ bgcolor|default('')|raw }}>
								<span style="display:none;">{{ entite.state }}</span>
								<strong class="text-{{ entite.statecolor }}">{{ entite.statename|trans({}, entite.shortName) }}</strong>
								<br>
								{% if DEVMODE %}
								<div class="btn-group full-width">
									<button type="button" class="btn btn-xs btn-{{ entite.statecolor }}">Change state</button>
									<button type="button" class="btn btn-xs btn-{{ entite.statecolor }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 0}) }}">Preparation</a></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 1}) }}">Devis</a></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 2}) }}">Validée</a></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 3}) }}">Archivée</a></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 4}) }}">Annulée</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 5}) }}">Passer en test</a></li>
									</ul>
								</div>
								{% else %}
								{% if entite.state == 0 %}
								<div class="btn-group full-width">
									<a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 2}) }}" type="button" class="btn btn-xs btn-{{ entite.statecolor }}">Valider</a>
									<button type="button" class="btn btn-xs btn-{{ entite.statecolor }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 4}) }}">Annuler</a></li>
										{% if DEVMODE %}
										<li role="separator" class="divider"></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 5}) }}">Passer en test</a></li>
										{% endif %}
									</ul>
								</div>
								{% elseif entite.state == 2 %}
								<br>
								<div class="btn-group full-width">
									<a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 3}) }}" type="button" class="btn btn-xs btn-{{ entite.statecolor }}">Archiver</a>
									<button type="button" class="btn btn-xs btn-{{ entite.statecolor }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 4}) }}">Annuler</a></li>
										{% if DEVMODE %}
										<li role="separator" class="divider"></li>
										<li><a href="{{ path('siteadmin_facture_changestate', {factureId: entite.id, state: 5}) }}">Passer en test</a></li>
										{% endif %}
									</ul>
								</div>
								{% endif %}
								{% endif %}
							</td>
							<td{{ bgcolor|default('')|raw }}>
								{# <a href="{{ actions.entiteLink(entite, 'show', type, type_value_joiner) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom|default(entite.id)}, entite.shortName)) }}">{{ entite.id }}</a> #}
								{{ entite.id }}
							</td>
							<td{{ bgcolor|default('')|raw }}>
								<p class='m-t-none m-b-none'>{{ dateFR(entite.delailivraison) }}</p>
								<p class='m-t-none m-b-none'>à <strong>{{ entite.delailivraison|date('H\\hi') }}</strong></p>
								{# <p class='m-t-none m-b-none'>Heures{{ fromNow(entite.delailivraison, 'heures') }}</p> #}
								{# <p class='m-t-none m-b-none'>Minutes{{ fromNow(entite.delailivraison) }}</p> #}
								{# <p class='m-t-none m-b-none'>Secondes{{ fromNow(entite.delailivraison, 'secondes') }}</p> #}
							</td>
							<td{{ bgcolor|default('')|raw }} class="text-right">
								<p class='m-t-none m-b-none'>{{ entite.prixtotal|number_format(2, ',', '') }}&nbsp;{{ entite.devise.symb }}</p>
								<small>
									<p class='m-t-none m-b-none'>min.{{ (entite.prixtotal * 0.9)|number_format(2, ',', '') }}{{ entite.devise.symb }} / max.{{ (entite.prixtotal * 1.1)|number_format(2, ',', '') }}{{ entite.devise.symb }}</p>
								</small>
							</td>
							<td{{ bgcolor|default('')|raw }}>{{ actions.entiteButtons(entite, ['show','edit','delete', 'default','active'], type, type_value_joiner) }}</td>
							<td{{ bgcolor|default('')|raw }}>
								<small>
									<p class='m-t-none m-b-none'>{{ entite.boutique.nom }}</p>
									<p class='m-t-none m-b-none'>Client : {{ entite.user.username }}</p>
									{% if entite.user.telephone|default(null) != null %}
									<p class='m-t-none m-b-none'>Tel : {{ entite.user.telephone }}</p>
									{% endif %}
								</small>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}




