{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
	{% block buttons %}
	{% endblock buttons %}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>Commande n° {{ entite.nom|raw }}</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover" role="grid">
					<thead>
						<tr>
							<td>
								Réf. utilisateur : {{ entite.user.nom|default(entite.user.email) }}{% if entite.user.prenom|default(null) is not null %} {{ entite.user.prenom }}{% endif %}<br>
							</td>
						</tr>
						<tr>
							<td>
								Commande : n° {{ entite.id }}<br>
							</td>
						</tr>
						<tr>
							<td>
								Échéance : {{ dateFR(entite.created) }}
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<table class="table table-striped table-bordered table-hover" role="grid">
									{% for onepanier in entite.panier %}
									<tr>
										<td>
											<p style="font-size:24px;">
												{{ onepanier.article.nom }}{% if not onepanier.article.groupbasket|default(false) %}<br>{{ onepanier.volume }}{{ onepanier.unit }}{% endif %}
											</p>
										</td>
										<td class="text-right">
											<p style="font-size:24px;font-weight:600;">
											{% if onepanier.article.groupbasket|default(false) -%}
												{{ onepanier.quantite * onepanier.volume }}{{ onepanier.unit }}
												{%- if onepanier.quantite > 1 -%}<br><small class="text-muted"><i>({{ onepanier.quantite }} x {{ onepanier.volume }}{{ onepanier.unit }})</i></small>{%- endif -%}
											{% else -%}
												x {{ onepanier.quantite }}
											{%- endif %}
											</p>
										</td>
										<td class="text-right">
											<p style="font-size:24px;">
											{{ onepanier.prix_total }}{{ entite.devise.symb }}
											</p>
										</td>
									</tr>
									{% endfor %}
									<tr class="total">
										<td class="text-right" colspan="2" width="80%"><p style="font-size:24px;">Total TTC</p></td>
										<td class="text-right"><p style="font-size:24px;">{{ entite.prixtotal|default(0)|number_format(2, ',', '') }}&nbsp;{{ entite.devise.symb }}</p></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</div>
{% endblock content %}