{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% import 'LaboAdminBundle:blocks:itemBloc.html.twig' as itemBloc %}

{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% set style = ' style="min-height: 200px; max-height: 600px; height:auto !important; height: 200px; overflow-y: auto;"' %}
{% set style = '' %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ entite.nom|default('#' ~ entite.id) }}</div>
					<div class="col-md-4">
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> -->
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a> -->
					</div>
				</h2>
				<hr class="m-t-none m-b-xs">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-file-o visible-xs"></i><span class="hidden-xs">{{ UCfirst('name'|trans({}, 'fiche')) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-2"><i class="fa fa-shopping-cart visible-xs"></i><span class="hidden-xs">{{ UCfirst('name_s'|trans({}, 'article')) }} ({{ entite.group_articleFicheboisson_parents|length }})</span></a></li>
						{% if entite.mainMedia.isScreenableImage|default(null) != null %}
						<li><a data-toggle="tab" href="#tab-3"><i class="fa fa-picture visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.image'|trans({}, entite.shortName)) }}</span></a></li>
						{% endif %}
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="panel-body article"{{ style|raw }}>
								<div class="text-center article-title" style='margin-bottom:60px;'>
									<span class="text-muted">
										<i class="fa fa-clock-o"></i> {{ entite.created|localizeddate('full', 'short') }}
										{% if entite.updated != null %}
										&nbsp;|&nbsp;<i class="fa fa-pencil"></i> {{ entite.updated|localizeddate('full', 'short') }}
										{% endif %}
									</span>
									<h1>{{ entite.nom|raw }}</h1>
									<h5>{{ UCfirst('fields.note'|trans({}, entite_name)) }} : <strong>{{ entite.noteText|trans({}, entite.shortName) }}</strong></h5>
								</div>
								<div class="row">
								{% if entite.mainMedia.isScreenableImage|default(null) != null %}
									<div class="col-md-3">
										<img alt="image" src="{{ entite.mainMedia.img }}" class="img-responsive pull-left m-r-lg">
									</div>
									<div class="col-md-9">
										{{ entite.descriptif|raw }}
									</div>
								{% else %}
									<div class="col-xs-12">{{ entite.descriptif|raw }}</div>
								{% endif %}
								</div>
								<div class="clearfix"></div>
								<hr>
								<div class="row">
									<div class="col-md-6">
										<h5>{{ UCfirst('name_s'|trans({}, 'tag')) }}</h5>
										{% for tag in entite.tags %}
										<button class="btn btn-default btn-xs" type="button">{{ phraseCut(tag.nom, 30) }}</button>
										{% endfor %}
									</div>
									<div class="col-md-6">
										<div class="small text-right">
											<h5>{{ UCfirst('name_s'|trans({}, 'statistique')) }}</h5>
											<div><i class="fa fa-shopping-cart"></i> {{ 'x_found'|transchoice(entite.group_articleFicheboisson_parents|length, {}, 'article') }}</div>
											<!-- <i class="fa fa-eye"> </i> 144 views -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="tab-2" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs' style='margin-top:0px;'>{{ UCfirst('name_s'|trans({}, 'article')) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									{% for item in entite.group_articleFicheboisson_parents %}{{ itemBloc.bloc1(item) }}{% endfor %}
								</div>
							</div>
						</div>
						{% if entite.mainMedia.isScreenableImage|default(null) != null %}
						<div id="tab-3" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs' style='margin-top:0px;'>{{ UCfirst('fields.image'|trans({}, entite.shortName)) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<div class="row">
									<div class="col-xs-12">
										{% if entite.mainMedia|default(null) != null %}
										<img src="{{ entite.mainMedia.img }}" class="img-responsive center-block img-rounded">
										{% else %}
										<i class="fa fa-ban fa-5x text-muted fa-border"></i>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
