{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				{% set typesfiches = {1 : 'recette', 2 : 'boisson'} %}
				<h2>{{ actions.htmlicon(entite_name, 1, ['m-r-xs']) }}{{ UCfirst('name_s'|trans({}, entite_name)) }}{% if type.type_values|default(null) != null %} - {% for typename in type.type_values %}{{ ('typentite.' ~ typesfiches[typename])|trans({}, entite_name) }}{% if not loop.last %}+{% endif %}{% endfor %}{% endif %} <small><i class="text-muted">{{ UCfirst('x_found'|transchoice(entites|length, {}, entite_name)) }}</i></small></h2>
				{% block breadcrumb %}
				<ol class="breadcrumb ellipsis">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
					{% if type.type_values|default(null) != null %}
					<li><a href="{{ path('siteadmin_entite', {entite: entite_name}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
					<li>{% for typename in type.type_values %}{{ ('typentite.' ~ typesfiches[typename])|trans({}, entite_name) }}{% if not loop.last %}+{% endif %}{% endfor %}</li>
					{% else %}
					<li>{{ UCfirst('name_s'|trans({}, entite_name)) }}</li>
					{% endif %}
				</ol>
				{% endblock breadcrumb %}
			</div>
			<div class="col-md-3 m-t-lg">
				{% block buttons %}
				{% if form_pre_create is not defined %}
					{% if type.type_values|default([])|length > 0 %}
						{% for typ in type.type_values %}
						<a href="{{ actions.entiteLink(entite_name, 'create', {type_related: type.type_related, type_values: [typ], type_field: type.type_field}, type_value_joiner) }}" type="button" class="btn btn-xs btn-warning pull-right m-r-xs"><i class="fa fa-plus icon-wait-on-click m-r-sm"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }} {{ typ }}</a>
						{% endfor %}
					{% else %}
					<a href="{{ path('siteadmin_entite', {entite: entite_name, action: 'create'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click m-r-sm"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }}</a>
					{% endif %}
				{% else %}
				<div class="btn-group pull-right">
					<button data-toggle="dropdown" type="button" class="btn btn-xs btn-warning dropdown-toggle"><i class="fa fa-plus m-r-sm"></i>{{ UCfirst('create_btn'|trans({}, entite_name)) }} <span class="caret"></span></button>
					<ul class="dropdown-menu">
						{% if type.type_values|default([])|length > 0 %}
						{% for typename in type.type_values %}
						<li class="dropdown-header">{{ ('typentite.' ~ typesfiches[typename])|trans({}, entite_name) }}</li>
						{% endfor %}
						<li class="divider"></li>
						{% endif %}
						<li class="dropdown-header">{{ form(form_pre_create) }}</li>
					</ul>
				</div>
				{% endif %}
				{% endblock buttons %}
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th class="text-center">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							<th class="text-center" style="width:1%;">{{ UCfirst('fields.image'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							{# <th>{{ UCfirst('fields.accroche'|trans({}, entite_name)) }}</th> #}
							<th>{{ UCfirst('fields.typentite'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.note'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.datePublication'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.dateExpiration'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							{% if DEVMODE %}<td{{ bgcolor|raw }} class="text-center">{{ entite.id }}</td>{% endif %}
							<td class="text-center"{{ bgcolor|raw }}>
								{% if entite.mainMedia|default(null) != null %}
								<a href="{{ path('siteadmin_entite', {entite: entite.mainMedia.shortName, id: entite.mainMedia.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" title="{{ UCfirst('moredetails'|trans({'%name%': entite.mainMedia.nom}, entite.shortName)) }}">
									<img src="{{ entite.mainMedia.imgThumbnail(64, 64, 'cut')|raw }}" class="img-responsive img-thumbnail">
								</a>
								{% else %}
								<i class="fa fa-ban fa-3x text-muted fa-border"></i>
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								<a href="{{ actions.entiteLink(entite, 'show', type) }}" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.shortName)) }}"><strong>{{ entite.nom }}</strong></a>
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','delete','active'], type) }}
							</td>
							{# <td{{ bgcolor|raw }}>{{ entite.accroche|raw }}</td> #}
							<td{{ bgcolor|raw }}>{% if entite.typentiteText != null %}{{ ('typentite.' ~ entite.typentiteText)|trans({}, entite.shortName) }}{% else %}<small><i class="text-muted">{{ 'no_typentite'|trans({}, entite.shortName) }}</i></small>{% endif %}</td>
							<td{{ bgcolor|raw }}>{{ UCfirst(entite.noteText|trans({}, entite.shortName)) }}</td>
							<td{{ bgcolor|raw }}>{{ entite.datePublication|date(formatDateHeure) }}</td>
							<td{{ bgcolor|raw }}>{% if entite.dateExpiration != null %}{{ entite.dateExpiration|date(formatDateHeure) }}{% else %}<small><i class="text-muted">{{ 'no_expiration'|trans({}, entite.shortName) }}</i></small>{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}