{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<h2 class="row">
			<div class="col-md-8 ellipsis">{{ UCfirst('name'|trans({}, entite.shortName)) }} {{ entite.nom|default('#' ~ entite.id) }}</div>
			<div class="col-md-4">
				<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ 'actions.suppression'|trans }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a>
				<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right m-r-xs"><i class="fa fa-pencil icon-wait-on-click"></i> {{ 'actions.modifier'|trans }}</a>
				{#
				<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'show'}) }}" type="button" class="btn btn-xs btn-white pull-right"><i class="fa fa-eye icon-wait-on-click"></i> {{ 'actions.voir'|trans }}</a>
				#}
				<a href="{{ path('siteadmin_entite', {entite: entite_name}) }}" type="button" class="btn btn-xs btn-white pull-right m-r-xs"><i class="fa fa-bars icon-wait-on-click"></i> {{ UCfirst('backlist_btn'|trans({}, entite.shortName)) }}</a>
				<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, action: 'create'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click"></i> {{ UCfirst('create_btn'|trans({}, entite.shortName)) }}</a> -->
			</div>
		</h2>
		<ol class="breadcrumb ellipsis">
			<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ 'administration'|trans }}</strong></a></li>
			<li><a href="{{ path('siteadmin_entite', {entite: entite_name}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite.shortName)) }}</strong></a></li>
			<li>{{ entite.nom|default('#' ~ entite.id) }}</li>
		</ol>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-8">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ entite.nom }}</div>
					<div class="col-md-4">
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ 'actions.suppression'|trans }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> -->
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ 'actions.modifier'|trans }}</a> -->
					</div>
				</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>{{ UCfirst('fields.nom'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ entite.nom }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.originalnom'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ entite.originalnom }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.size'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ fileSizeDisplay(entite.fileSize) }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.dimensions'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ UCfirst((entite.dimension|default('dimensionInconnue'))|trans({}, entite.shortName)) }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.creation'|trans({}, entite.shortName)) }}</strong></td>
							<td>{{ entite.created|date(formatDateHeure) }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.updated'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								{% if entite.updated|default(null) != null %}
								{{ entite.updated|date(formatDateHeure) }}
								{% else %}
								<small><i class='text-muted'>({{ UCfirst('fields.jamais'|trans({}, entite.shortName)) }})</i></small>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.icon'|trans({}, entite.shortName)) }}</strong></td>
							<td>
								<img src="{{ entite.imgThumbnail(128, 128, 'cut')|raw }}" class="img-thumbnail m-r-xs">
								<img src="{{ entite.imgThumbnail(64, 64, 'cut')|raw }}" class="img-thumbnail m-r-xs">
								<img src="{{ entite.imgThumbnail(32, 32, 'cut')|raw }}" class="img-thumbnail m-r-xs">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.visuel'|trans({}, entite.shortName)) }}</h3>
			</div>
			<div class="ibox-content text-center" style='min-height: 180px;'>
				<img src="{{ entite.img|raw }}" class="img-responsive center-block img-rounded">
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.group_imagesParents'|trans({}, entite.shortName)) }}</h3>
			</div>
			<div class="ibox-content" style='min-height: 166px;'>
				<p>Principal : <strong>{{ entite.element.nom|default('aucun') }}</strong></p>
				{{ actions.labelLinkList(entite.group_imagesParents, [], null, type, type_value_joiner, 'show') }}
			</div>
		</div>
	</div>

</div>
{% endblock content %}