{# @repository {"name": "entites", "classname": "image", "method": "findGroupByOwner", "params": {}} #}
{# @test {"name": "entites", "classname": "image", "method": "findAll", "params": {}} #}

{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12 m-t-xs">
		<div class="row">
			<div class="col-md-9">
				<h2>{{ UCfirst('name_s'|trans({}, entite_name)) }}{% if type.type_values|default(null) != null %} - {{ type.type_values|join('/') }}{% endif %}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('siteadmin_homepage') }}"><strong>{{ UCfirst('administration'|trans) }}</strong></a></li>
					{% if type.type_values|default(null) != null %}
					<li><a href="{{ path('siteadmin_entite', {entite: entite_name}) }}"><strong>{{ UCfirst('name_s'|trans({}, entite_name)) }}</strong></a></li>
					<li>{{ type.type_values|join('/') }}</li>
					{% else %}
					<li>{{ UCfirst('name_s'|trans({}, entite_name)) }}</li>
					{% endif %}
				</ol>
			</div>
			<div class="col-md-3 m-t-lg">
				{% block buttons %}
				<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, action: 'create'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-plus icon-wait-on-click"></i> {{ 'create_btn'|trans }}</a> -->
				{% endblock buttons %}
			</div>
		</div>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th style="width:1%;" class="text-center">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							<th>{{ 'table.col.visuel'|trans }}</th>
							<th style="width:1%;">{{ UCfirst('actions.name'|trans) }}</th>
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							{# <th>{{ 'table.col.originalnom'|trans }}</th> #}
							{% if DEVMODE %}<th>{{ 'table.col.admin'|trans }}</th>{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							{% if DEVMODE %}<td class="text-center"{{ bgcolor|raw }}>{{ entite.id }}</td>{% endif %}
							<td{{ bgcolor|raw }}>
								<img src="{{ entite.imgThumbnail(80, 80, 'cut')|raw }}" class="img-responsive img-thumbnail">
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show', 'edit','delete', 'active'], type) }}
								{# - OFF ----------------------
								{% if DEVMODE %}
								<hr class="m-b-xs m-t-xs">
								<div class="btn-group">
									{{ actions. }}
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite_name, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker {{ entite_name }} {{ entite.nom }}"><i class="fa fa-check icon-wait-on-click"></i></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker {{ entite_name }} {{ entite.nom }}"><i class="fa fa-check icon-wait-on-click"></i></a>
									{% endif %}
								</div>
								{% endif %}
								- OFF ---------------------- #}
								{# {% if DEVMODE %}{{ entite.cropperInfo|json_encode }}{% endif %} #}
							</td>
							<td{{ bgcolor|raw }}>
								<a href="{{ actions.entiteLink(entite, 'show', type, type_value_joiner) }}" title="{{ 'moredetails'|trans({'%name%': entite.nom}) }}"><strong>{{ entite.nom }}</strong></a>
								{% if entite.statut.id|default(0) > 1 %}<br><small><i>({{ entite.statut.nom }})</i></small>{% endif %}
								<br>
								<em><i>{{ UCfirst((entite.dimension|default('dimensionInconnue'))|trans({}, entite.shortName)) }}</i></em>
								<br>
								<em><i>{{ fileSizeDisplay(entite.fileSize) }} - {{ entite.extension|default('?') }}</i></em>
								<br>
								<small><em><i class="text-muted">{{ entite.originalnom }}</i></em></small>
							</td>
							{# <td{{ bgcolor|raw }}>{{ entite.originalnom }}</td> #}
							{% if DEVMODE %}
							<td{{ bgcolor|raw }}>
								• {{ entite.format|default('?') }}<br>
								• {{ entite.stockage }}<br>
								• {{ entite.created|date(formatDateHeure) }}<br>
								{% if entite.updated|default(null) != null %}
								• {{ entite.updated|date(formatDateHeure) }}
								{% else %}
								• <small><i class='text-muted'>({{ 'table.col.jamais'|trans }})</i></small>
								{% endif %}
								<br>
								• {{ UCfirst(('owner.' ~ entite.owner)|trans({}, entite.shortName)) }}
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}