{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th class="text-center" style="width:1%;">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							<th class="text-center" style="width:1%;">{{ UCfirst('fields.mainMedia'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							<th>{{ UCfirst('fields.couleur'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.descriptif'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							{% if DEVMODE %}<td class="text-center"{{ bgcolor|raw }}>{{ entite.id }}</td>{% endif %}
							<td class="text-center"{{ bgcolor|raw }}>
								{% if entite.mainMedia|default(null) != null %}
								<a href="{{ path('siteadmin_entite', {entite: entite.mainMedia.shortName, id: entite.mainMedia.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" title="{{ UCfirst('moredetails'|trans({'%name%': entite.mainMedia.nom}, entite.shortName)) }}">
									<img src="{{ entite.mainMedia.imgThumbnail(64, 64, 'cut')|raw }}" class="img-responsive img-thumbnail">
								</a>
								{% else %}
								<i class="fa fa-ban fa-3x text-muted fa-border"></i>
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{% if type.type_values|default(null) != null %}
								<a href="{{ path('siteadmin_entite_type', {entite: entite.shortName, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom}, entite.shortName)) }}"><strong>{{ entite.nom }}</strong></a>
								{% else %}
								<a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'show'}) }}" title="{{ UCfirst('moredetails'|trans({'%name%': entite.nom})) }}"><strong>{{ entite.nom }}</strong></a>
								{% endif %}
								{% if entite.statut is defined %}
								{% if entite.statut.id > 1 %}<br><small><i>({{ entite.statut.nom }})</i></small>{% endif %}
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','delete','active'], type) }}
								{# - OFF ----------------------
								{% if DEVMODE %}
								<hr class="m-b-xs m-t-xs">
								<div class="btn-group">
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite.shortName, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker article {{ entite.nom }}"><i class="fa fa-check"></i></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" title="Checker article {{ entite.nom }}"><i class="fa fa-check"></i></a>
									{% endif %}
								</div>
								{% endif %}
								- OFF ---------------------- #}
							</td>
							<td{{ bgcolor|raw }} class="text-center">
								{{ actions.colorDot(entite.couleur) }}
							</td>
							<td{{ bgcolor|raw }}>{{ entite.descriptif|raw }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}