{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set bodyclass = ['fixed-sidebar', 'full-height-layout'] %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block buttons %}
	<div id="sb0" class="btn-group pull-right" switcher-group switcher-mode="radio" role="group">
		<button type="button" class="btn btn-sm" switcher-btn switcher-status="on" switcher-values="val1" title="Mails"><i class="fa fa-envelope"></i></button>
		<button type="button" class="btn btn-sm" switcher-btn switcher-status="off" switcher-values="val2" title="Mails supprimés"><i class="fa fa-trash"></i></button>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
		<button type="button" class="btn btn-sm" switcher-btn switcher-status="off" switcher-values="val5" title="Mails deleted"><i class="fa fa-trash-o"></i></button>
		{% endif %}
	</div>
{% endblock buttons %}

{% block wrapcontent %}
{% if app.user.messageusers|length > 0 %}
{% set extrait = 120 %}
<div class="fh-breadcrumb">
	<div class="fh-column">
		<div class="full-height-scroll">
			<ul class="list-group elements-list">
				{% for entite in app.user.messageusers if is_granted(entite.messageuser.statut.niveau) %}
				<li class="list-group-item{% if (firstActif1|default(false) == false) and (entite.messageuser.statut.id == 1) %}{% set firstActif1 = true %} active{% endif %}" switcher-target-id="sb0" switcher-value="val{{ entite.messageuser.statut.id }}">
					<a data-toggle="tab" href="#tab-messages-{{ loop.index }}">
						<small class="pull-right text-muted"> {{ entite.messageuser.creation|localizeddate('medium', 'none') }}</small>
						<strong{% if entite.isRead|default(null) %} class='text-navy'{% endif %}>
							{{ entite.messageuser.nom|default(entite.messageuser.email)|raw }}
						</strong>
						<div class="small m-t-xs">
							<p>{{ phraseCut(entite.messageuser.objet|default(phraseCut(entite.messageuser.message, extrait)), extrait)|raw }}</p>
							<p class="m-b-none">
								{% if entite.messageuser.user|default(null) != null %}
								<i class="fa fa-user pull-right text-{{ entite.messageuser.connected ? 'navy' : 'danger' }}" title="{{ entite.messageuser.user.username }}{{ entite.messageuser.connected ? '' : ' : ce message a été envoyé par un utilisateur non connecté : message non authentifié.' }}"></i>
								{% endif %}
								<i class="fa fa-circle pull-right" style="color:{{ entite.messageuser.statut.couleur }};" title="{{ entite.messageuser.statut.nom }}"></i>
								<i class="fa fa-envelope" title="{{ entite.messageuser.email }}"></i> {{ phraseCut(entite.messageuser.email, 18) }}
							</p>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="full-height">
		<div class="full-height-scroll white-bg border-left">
			<div class="element-detail-box">
				<div class="tab-content">
					{% for entite in app.user.messageusers if is_granted(entite.messageuser.statut.niveau) %}
					<div id="tab-messages-{{ loop.index }}" class="tab-pane{% if (firstActif2|default(false) == false) and (entite.messageuser.statut.id == 1) %}{% set firstActif2 = true %} active{% endif %}">
						<div class="pull-right">
							<div class="tooltip-demo">
{# 								{% if entite.messageuser.read %}
								<a role='button' class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="left" title="{{ UCfirst('message.action.lu'|trans) }}"><i class="fa fa-eye-slash icon-wait-on-click"></i> {{ UCfirst('message.etat.nonlu'|trans) }}</a>
								{% else %}
								<a role='button' class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="left" title="{{ UCfirst('message.action.nonlu'|trans) }}"><i class="fa fa-eye icon-wait-on-click"></i> {{ UCfirst('message.etat.lu'|trans) }}</a>
								{% endif %}
 #}								<a href="mailto:{{ entite.messageuser.email }}" role='button' class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('message.action.repondre'|trans) }}"><i class="fa fa-envelope"></i> {{ UCfirst('actions.repondre'|trans) }}</a>
								{% set question = UCfirst('actions.suppQuestion'|trans({'%name%': entite.messageuser.nom|default(entite.messageuser.objet|default(phraseCut(entite.messageuser.message, 20)|raw))})) %}
								<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.messageuser.id, action: 'delete'}) }}" role='button' class="btn btn-white btn-xs need-confirmation" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('message.action.supprimer'|trans) }}" data-message="{{ question }}"><i class="fa fa-trash-o icon-wait-on-click"></i> {{ UCfirst('actions.supprimer'|trans) }}</a>
								{% if entite.messageuser.statut.slug != 'actif' %}
								<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.messageuser.id, action: 'active'}) }}" role='button' class="btn btn-white btn-xs"><i class="fa fa-star icon-wait-on-click"></i></a>
								{% endif %}
								{% if DEVMODE %}
									<a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.messageuser.id, action: 'edit'}) }}" role='button' class="btn btn-danger btn-xs"><i class="fa fa-pencil icon-wait-on-click"></i></a>
								{% endif %}
							</div>
						</div>
						<div class="small text-muted">
							<i class="fa fa-clock-o"></i> {{ entite.messageuser.creation|localizeddate('full', 'short') }}{% if not entite.messageuser.connected %} <i class="fa fa-unlock text-danger" title="{{ entite.messageuser.connected ? '' : 'ce message a été envoyé par un utilisateur non connecté : message non authentifié.' }}"></i>{% endif %}
						</div>
						<hr class="m-t-md m-b-sm">
						<p>
							{{ entite.messageuser.position }} | {% if entite.messageuser.nom %}{{ entite.messageuser.nom }} {% endif %}
							{% if entite.messageuser.prenom %}{{ entite.messageuser.prenom }} {% endif %}
							{% if entite.messageuser.nom or entite.messageuser.prenom %} <i class="fa fa-angle-right"></i> {% endif %}
							<a href="mailto:{{ entite.messageuser.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ UCfirst('message.action.repondre'|trans) }}">{{ entite.messageuser.email }}</a>
							{% if entite.messageuser.user|default(null) != null %}
							<a href="{{ path('siteUser_info', {username: entite.messageuser.user.username}) }}" class="btn btn-xs btn-default pull-right" data-toggle="tooltip" data-placement="left" title="{{ UCfirst('user.moredetails'|trans({'%name%': entite.messageuser.user.username})) }}">
								<i class="fa fa-user m-r-xs"></i>{{ entite.messageuser.user }}
							</a>
							{% endif %}
						</p>
						<hr class="m-t-xs m-b-xs">
						<h1>{{ entite.messageuser.objet|default('…')|raw }}</h1>
						<p>{{ entite.messageuser.message|nl2br|raw }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock wrapcontent %}

{% block end_javascripts %}
	{{ parent() }}

	if($('[switcher-group]').length) {
		$('[switcher-group]').each(function (item) {
			var buttons = $('button[switcher-btn]', this);
			var id = $(this).attr('id');
			var targets = $("body [switcher-target-id='"+id+"']");
			// set switcher-mode to "radio" (default) or "button"
			var mode = $(this).attr('switcher-mode');
			if(mode != "radio" && mode != "button") mode = "radio";
			// console.log('*** switcher-id', id);
			// console.log('*** switcher-mode', mode);
			// console.log('*** switcher-buttons', buttons.length);
			// console.log('*** switcher-targets', targets.length);

			var checkVisuButtons = function () {
				var atLeastOne = false;
				buttons.each(function (item) {
					if($(this).attr('switcher-status') == 'on') {
						$(this).removeClass('btn-white').addClass('btn-primary');
						atLeastOne = true;
					} else {
						$(this).attr('switcher-status', 'off').removeClass('btn-primary').addClass('btn-white');
					}
				});
				if(atLeastOne == false) buttons.first().attr('switcher-status', 'on').removeClass('btn-white').addClass('btn-primary');
			}
			checkVisuButtons();

			var checkVisuTargets = function () {
				var motif = new Array();
				buttons.each(function (item) {
					if($(this).attr('switcher-status') == 'on') motif.push($(this).attr('switcher-values'));
				});
				motif = '('+motif.join('|')+')';
				// console.log('values', motif);
				targets.each(function (item) {
					if($(this).attr('switcher-value').match(motif)) $(this).show();
						else $(this).hide();
				});
			}
			checkVisuTargets();

			var switchButton = function (button) {
				if(mode == 'radio' && $(button).attr('switcher-status') != 'on') {
					buttons.each(function (item) {
						$(this).attr('switcher-status', 'off');
					});
					$(button).attr('switcher-status', 'on');
					checkVisuButtons();
					checkVisuTargets();
				} else if(mode == 'button') {
					if($(button).attr('switcher-status') == 'on') $(button).attr('switcher-status', 'off');
						else $(button).attr('switcher-status', 'on');
					checkVisuButtons();
					checkVisuTargets();
				}
			}

			buttons.on('click', function (item) {
				// console.log('Switcher click', $(this).attr('switcher-values'));
				switchButton(this);
			});

		});
	}


{% endblock end_javascripts %}














