{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-8">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ entite.nom|default('#' ~ entite.id) }}{% if entite.default|default(null) != null %} <button class="btn btn-xs {% if entite.default %}btn-primary{% else %}bt-white{% endif %}"><i class="fa fa-star"></i></button>{% endif %}</div>
					<div class="col-md-4">
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ 'actions.suppression'|trans }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> -->
						<!-- <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ 'actions.modifier'|trans }}</a> -->
					</div>
				</h2>
				<hr>
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
							<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
						</tr>
					</thead>
					<tbody>
						{% if entite.nom is defined %}
						<tr>
							<td><strong>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</strong></td>
							<td>{{ entite.nom }}</td>
						</tr>
						{% endif %}
						<tr>
							<td><strong>{{ UCfirst('fields.diaporama'|trans({}, entite_name)) }}</strong></td>
							<td>{% if entite.diaporama != null %}{{ actions.labelLinkList([entite.diaporama], [], null, null, null, 'show') }}{% endif %}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.title'|trans({}, entite_name)) }}</strong></td>
							<td>{{ entite.title }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.titreh1'|trans({}, entite_name)) }}</strong></td>
							<td>{{ entite.titreh1 }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.modele'|trans({}, entite_name)) }}</strong></td>
							<td>{{ entite.modelename }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.metadescription'|trans({}, entite_name)) }}</strong></td>
							<td>{{ entite.metadescription }}</td>
						</tr>
						<tr>
							<td><strong>{{ UCfirst('fields.keywords'|trans({}, entite_name)) }}</strong></td>
							<td>{{ entite.keywords }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ 'form.background'|trans }}{% if entite.mainMedia != null %}<a href="{{ path('siteadmin_entite', {entite: entite.shortName, action: 'delete_linked_image', id: entite.id}) }}" data-title="{{ UCfirst('supprime.nom'|trans({}, 'image')) }}" data-message="{{ UCfirst('supprime.confirm-definitif'|trans({}, 'image')) }}" class="btn btn-xs btn-white pull-right need-confirmation"><i class="fa fa-times icon-wait-on-click"></i></a>{% endif %}</h3>
			</div>
			<div class="ibox-content text-center" style='min-height: 180px;'>
				{% if entite.mainMedia|default(null) != null %}
				<img src="{{ entite.mainMedia.img|raw }}" class="img-responsive center-block img-rounded">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<hr class="clearfix">

	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>Texte de la page</h3>
			</div>

			<div class="ibox-content text-center" style='min-height: 180px;'>
				<div class="panel-body article">
					<div class="text-center article-title" style="margin-bottom:30px;margin-top:0px;">
						<h1>{{ entite.nom|raw }}</h1>
						<span class="text-muted">
							<i class="fa fa-clock-o"></i> {{ entite.created|localizeddate('full', 'short') }}
							{% if entite.updated != null %}
							&nbsp;|&nbsp;<i class="fa fa-pencil"></i> {{ entite.updated|localizeddate('full', 'short') }}
							{% endif %}
						</span>
					</div>
					<div class="row">
						{# <div class="col-xs-12">{{ entite.code|raw }}</div> #}
						<iframe class="iframe-pageweb" src="{{ url('site_pageweb_pageweb', {itemSlug: entite.slug}) }}"></iframe>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
{% endblock content %}