{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				{% if entites|length > 0 %}
				<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr>
							{% if DEVMODE %}<th class="text-center">{{ UCfirst('fields.id'|trans({}, entite_name)) }}</th>{% endif %}
							<th>{{ UCfirst('fields.nom'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('actions.name'|trans) }}</th>
							<th>{{ UCfirst('fields.image'|trans({}, entite_name)) }}</th>
							<th>{{ UCfirst('fields.parents'|trans({}, entite_name)) }}</th>
							{# <th>{{ UCfirst('fields.title'|trans({}, entite_name)) }}</th> #}
							{# <th>{{ UCfirst('fields.titreh1'|trans({}, entite_name)) }}</th> #}
							<th>{{ UCfirst('fields.modele'|trans({}, entite_name)) }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entite in entites if(is_granted(entite.statut.niveau|default('ROLE_USER')) or DEVMODE) %}
						{% set bgcolor = ' style="background-color:' ~ entite.statut.couleur|default('transparent') ~ ';"' %}
						<tr>
							{% if DEVMODE %}<td class="text-center"{{ bgcolor|raw }}>{{ entite.id }}</td>{% endif %}
							<td{{ bgcolor|raw }}>
								{% if type.type_values|default(null) != null %}
								<a href="{{ path('siteadmin_entite_type', {entite: entite.shortName, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'show'}) }}" data-toggle="tooltip" title="{{ ('moredetails')|trans({'%name%': entite.nom}, entite.shortName) }}"><strong>{{ entite.nom }}</strong></a>
								{% else %}
								<a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'show'}) }}" data-toggle="tooltip" title="{{ ('moredetails')|trans({'%name%': entite.nom}, entite.shortName) }}"><strong>{{ entite.nom }}</strong></a>
								{% endif %}
								{% if entite.statut is defined %}
								{% if entite.statut.id > 1 %}<br><small><i>({{ entite.statut.nom }})</i></small>{% endif %}
								{% endif %}
								<br>
								<small><i>Slug : {{ entite.slug }}</i></small>
							</td>
							<td{{ bgcolor|raw }}>
								{{ actions.entiteButtons(entite, ['show','edit','default'], type) }}
								{# - OFF ----------------------
								{% if DEVMODE %}
								<hr class="m-b-xs m-t-xs">
								<div class="btn-group">
									{% if type.type_values|default(null) != null %}
									<a href="{{ path('siteadmin_entite_type', {entite: entite.shortName, type_related: type.type_related, type_field: type.type_field, type_values: type.type_values|join(type_value_joiner)|url_encode, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Checker article {{ entite.nom }}"><i class="fa fa-check"></i></a>
									{% else %}
									<a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'check'}) }}" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Checker article {{ entite.nom }}"><i class="fa fa-check"></i></a>
									{% endif %}
								</div>
								{% endif %}
								- OFF ---------------------- #}
							</td>
							<td{{ bgcolor|raw }} class="text-center">
								{% if entite.mainMedia|default(null) != null %}
								<a href="{{ path('siteadmin_entite', {entite: 'image', id: entite.mainMedia.id, action: 'show'}) }}" class="docs-tooltip" data-toggle="tooltip" title="{{ ('moredetails')|trans({'%name%': entite.mainMedia.nom}, entite.shortName) }}">
									<img src="{{ entite.mainMedia.imgThumbnail(64, 64, 'cut')|raw }}" class="img-responsive img-thumbnail">
								</a>
								{% else %}
								<i class="fa fa-ban fa-3x text-muted fa-border"></i>
								{% endif %}
							</td>
							<td{{ bgcolor|raw }}>{{ actions.labelLinkList(entite.parentsByGroup('categorie_nested'), [], null, type, type_value_joiner, 'show') }}</td>
							{# <td{{ bgcolor|raw }}>{{ entite.title }}</td> #}
							{# <td{{ bgcolor|raw }}>{{ entite.titreh1 }}</td> #}
							<td{{ bgcolor|raw }}>
								{{ entite.modelename }}
								{% if entite.extended|default(false) %} <i class="text-muted"><small>(ext.)</small></i>{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h3><i class="fa fa-ban"></i> {{ UCfirst('not_found'|trans({}, entite_name)) }}</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}