{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% import 'LaboAdminBundle:blocks:sortable_nested_categories.html.twig' as nestcat %}

{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{# {% set style = '' %} #}
{% set style = ' style="min-height: 400px; max-height: 600px; height:auto !important; height: 400px; overflow-y: auto;"' %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ actions.colorDot(entite.couleur, '1x') }}{{ entite.nom|default('#' ~ entite.id) }}{% if entite.default|default(null) != null %} <button class="btn btn-xs {% if entite.default %}btn-primary{% else %}bt-white{% endif %}"><i class="fa fa-star"></i></button>{% endif %}</div>
					<div class="col-md-4">
						{# <!-- <a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> --> #}
						{# <!-- <a href="{{ path('siteadmin_entite', {entite: entite.shortName, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a> --> #}
					</div>
				</h2>
				<hr class="m-t-none m-b-xs">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-0">{{ actions.htmlicon(entite.shortName, 1, ['visible-xs']) }}<span class="hidden-xs">{{ UCfirst('name'|trans({}, entite.shortName)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-1"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.menuNav'|trans({}, entite.shortName)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-2"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.menuArticle'|trans({}, entite.shortName)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-3"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.categorieArticles'|trans({}, entite.shortName)) }}</span></a></li>
						<li><a data-toggle="tab" href="#tab-4"><i class="fa fa-sitemap visible-xs"></i><span class="hidden-xs">{{ UCfirst('fields.categorieFooters'|trans({}, entite.shortName)) }}</span></a></li>
					</ul>

					<div class="tab-content">

						<div id="tab-0" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<hr>
								<table class="table table-striped table-bordered table-hover dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr>
											<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
											<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>{{ UCfirst('fields.nom'|trans({}, entite.shortName)) }}</strong></td>
											<td>{{ entite.nom }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.accroche'|trans({}, entite.shortName)) }}</strong></td>
											<td>{{ entite.accroche|raw }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.descriptif'|trans({}, entite.shortName)) }}</strong></td>
											<td>{{ entite.descriptif|raw }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.boutiques'|trans({}, entite.shortName)) }}</strong></td>
											<td>{{ actions.labelLinkList(entite.boutiques, [], null, type, type_value_joiner, 'show') }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.collaborateurs'|trans({}, entite.shortName)) }}</strong></td>
											<td>{{ actions.labelLinkList(entite.collaborateurs, [], null, type, type_value_joiner, 'show') }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.tags'|trans({}, entite.shortName)) }}</strong></td>
											<td>{{ actions.labelLinkList(entite.tags, [], null, type, type_value_joiner, 'show') }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.created'|trans({}, entite.shortName)) }}</strong></td>
											<td>
												{{ entite.created|date(formatDateHeure) }}
											</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('fields.updated'|trans({}, entite.shortName)) }}</strong></td>
											<td>
												{% if entite.updated|default(null) != null %}
												{{ entite.updated|date(formatDateHeure) }}
												{% else %}
												<small><i class='text-muted'>({{ UCfirst('fields.jamais'|trans({}, entite.shortName)) }})</i></small>
												{% endif %}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div id="tab-1" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								{% if entite.menuNav != null %}
								<a href="{{ path('siteadmin_show_categorie', {id: entite.menuNav.id}) }}" class="btn btn-xs btn-white ellipsis"><i class="fa fa-eye m-r-xs"></i>{{ entite.menuNav.nom }}</a>
								<a href="{{ path('siteadmin_edit_categorie', {id: entite.menuNav.id}) }}" class="btn btn-xs btn-white ellipsis"><i class="fa fa-pencil m-r-xs"></i>{{ entite.menuNav.nom }}</a>
								<div class="clearfix"></div>
								<hr class="m-t-xs m-b-sm">
								<div id="jsajx_menuNav-{{ entite.menuNav.id }}" class="jstree-ajax" jstree-plugins="" jstree-types="[]"></div>
								{% else %}
								<i class="fa fa-ban fa-5x text-muted fa-border"></i>
								{% endif %}
							</div>
						</div>

						<div id="tab-2" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								{% if entite.menuArticle != null %}
								<a href="{{ path('siteadmin_show_categorie', {id: entite.menuArticle.id}) }}" class="btn btn-xs btn-white ellipsis"><i class="fa fa-eye m-r-xs"></i>{{ entite.menuArticle.nom }}</a>
								<a href="{{ path('siteadmin_edit_categorie', {id: entite.menuArticle.id}) }}" class="btn btn-xs btn-white ellipsis"><i class="fa fa-pencil m-r-xs"></i>{{ entite.menuArticle.nom }}</a>
								<div class="clearfix"></div>
								<hr class="m-t-xs m-b-sm">
								<div id="jsajx_menuArticle-{{ entite.menuArticle.id }}" class="jstree-ajax" jstree-plugins="" jstree-types="[]"></div>
								{% else %}
								<i class="fa fa-ban fa-5x text-muted fa-border"></i>
								{% endif %}
							</div>
						</div>

						<div id="tab-3" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								{% if entite.categorieArticles|length > 0 %}
									<div class="row">
									{% for item in entite.categorieArticles if item.shortName == 'categorie' %}
										<div class="col-xs-6 col-md-4 col-lg-2">
											<a href="{{ path('siteadmin_show_categorie', {id: item.id}) }}" class="btn btn-xs btn-white ellipsis btn-block text-left"><i class="fa fa-eye m-r-xs"></i>{{ item.nom }}</a>
											<a href="{{ path('siteadmin_edit_categorie', {id: item.id}) }}" class="btn btn-xs btn-white ellipsis btn-block text-left"><i class="fa fa-pencil m-r-xs"></i>{{ item.nom }}</a>
										</div>
									{% endfor %}
									</div>
									<div class="clearfix"></div>
									<hr class="m-t-xs m-b-sm">
									{% for item in entite.categorieArticles %}
									<div id="jsajx_categorieArticles-{{ item.id }}" class="jstree-ajax" jstree-plugins="" jstree-types="[]"></div>
									{% endfor %}
								{% else %}
								<i class="fa fa-ban fa-5x text-muted fa-border"></i>
								{% endif %}
							</div>
						</div>

						<div id="tab-4" class="tab-pane">
							<div class="panel-body"{{ style|raw }}>
								{% if entite.categorieFooters|length > 0 %}
									<div class="row">
									{% for item in entite.categorieFooters if item.shortName == 'categorie' %}
									<div class="col-xs-6 col-md-4 col-lg-2">
										<a href="{{ path('siteadmin_show_categorie', {id: item.id}) }}" class="btn btn-xs btn-white ellipsis btn-block text-left"><i class="fa fa-eye m-r-xs"></i>{{ item.nom }}</a>
										<a href="{{ path('siteadmin_edit_categorie', {id: item.id}) }}" class="btn btn-xs btn-white ellipsis btn-block text-left"><i class="fa fa-pencil m-r-xs"></i>{{ item.nom }}</a>
									</div>
									{% endfor %}
									</div>
									<div class="clearfix"></div>
									<hr class="m-t-xs m-b-sm">
									{% for item in entite.categorieFooters %}
									<div id="jsajx_categorieFooters-{{ item.id }}" class="jstree-ajax" jstree-plugins="" jstree-types="[]"></div>
									{% endfor %}
								{% else %}
								<i class="fa fa-ban fa-5x text-muted fa-border"></i>
								{% endif %}
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.image'|trans({}, entite.shortName)) }} {% if entite.image != null %}<a href="{{ path('siteadmin_entite', {entite: entite.shortName, action: 'delete_linked_image', id: entite.id}) }}" data-title="{{ UCfirst('supprime.nom'|trans({}, 'image')) }}" data-message="{{ UCfirst('supprime.confirm-definitif'|trans({}, 'image')) }}" class="btn btn-xs btn-white pull-right need-confirmation"><i class="fa fa-times icon-wait-on-click"></i></a>{% endif %}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.image|default(null) != null %}
				<img src="{{ entite.image.img|raw }}" class="img-responsive center-block">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.logo'|trans({}, entite.shortName)) }}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.logo|default(null) != null %}
				<img src="{{ entite.logo.img|raw }}" class="img-responsive center-block">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.adminLogo'|trans({}, entite.shortName)) }}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.adminLogo|default(null) != null %}
				<img src="{{ entite.adminLogo.img|raw }}" class="img-responsive center-block">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3>{{ UCfirst('fields.favicon'|trans({}, entite.shortName)) }}</h3>
			</div>
			<div class="ibox-content text-center">
				{% if entite.favicon|default(null) != null %}
				<img src="{{ entite.favicon.img|raw }}" class="img-responsive center-block">
				{% else %}
				<i class="fa fa-ban fa-5x text-muted fa-border"></i>
				{% endif %}
			</div>
		</div>
	</div>

</div>
{% endblock content %}

{% block end_javascripts %}
{{ parent() }}
{{ nestcat.nestedtreeAjax() }}
{% endblock end_javascripts %}

