{% extends 'LaboAdminBundle:entites:entiteShow.html.twig' %}
{% import 'LaboAdminBundle:blocks:itemBloc.html.twig' as itemBloc %}

{% set cssjsloads = 'simple' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}
{% set style = ' style="min-height: 200px; max-height: 600px; height:auto !important; height: 200px; overflow-y: auto;"' %}

{% block page_heading %}
	{{ parent() }}
{% endblock page_heading %}

{% block content %}
<div class="row">

	<div class="col-md-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2 class="row">
					<div class="col-md-8 ellipsis">{{ entite.nom|default('#' ~ entite.id) }}{% if entite.default|default(null) != null %} <button class="btn btn-xs {% if entite.default %}btn-primary{% else %}bt-white{% endif %}"><i class="fa fa-star"></i></button>{% endif %}</div>
					<div class="col-md-4">
						{# <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'delete'}) }}" type="button" class="btn btn-xs btn-danger btn-outline pull-right need-confirmation" title="{{ UCfirst('actions.suppression'|trans) }}" data-message="{{ 'actions.suppQuestion'|trans({'%name%': entite.nom|default('#' ~ entite.id)}) }}"><i class="fa fa-times icon-wait-on-click"></i> {{ 'actions.supprimer'|trans }}</a> #}
						{# <a href="{{ path('siteadmin_entite', {entite: entite_name, id: entite.id, action: 'edit'}) }}" type="button" class="btn btn-xs btn-warning pull-right"><i class="fa fa-pencil icon-wait-on-click"></i> {{ UCfirst('actions.modifier'|trans) }}</a> #}
					</div>
				</h2>
				<hr class="m-t-none m-b-xs">
				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list-ul visible-xs"></i><span class="hidden-xs">{{ 'name'|trans({}, entite.shortName) }}</span></a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-1" class="tab-pane active">
							<div class="panel-body"{{ style|raw }}>
								<h3 class='text-navy visible-xs' style='margin-top:0px;'>{{ 'name'|trans({}, entite.shortName) }}</h3>
								<hr class="m-t-xs m-b-xs visible-xs">
								<table class="table table-striped table-bordered table-hover dataTables dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
									<thead>
										<tr>
											<th>{{ UCfirst('table.col.libelle'|trans) }}</th>
											<th>{{ UCfirst('table.col.valeur'|trans) }}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>{{ 'fields.nom'|trans({}, entite.shortName) }} {{ 'name'|trans({}, entite.shortName) }}</td>
											<td>{{ entite.nom }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('table.col.creation'|trans) }}</strong></td>
											<td>{{ entite.created|date(formatDateHeure) }}</td>
										</tr>
										<tr>
											<td><strong>{{ UCfirst('table.col.maj'|trans) }}</strong></td>
											<td>
												{% if entite.updated|default(null) != null %}
												{{ entite.updated|date(formatDateHeure) }}
												{% else %}
												<small><i class='text-muted'>({{ UCfirst('table.col.jamais'|trans) }})</i></small>
												{% endif %}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
