{% extends 'LaboAdminBundle:entites:entiteList.html.twig' %}
{% set cssjsloads = 'TAB' %}
{% set DEVMODE = (app.environment in ['DEV', 'TEST']) or (is_granted('ROLE_SUPER_ADMIN')) %}

{% block page_heading %}
	
{% endblock page_heading %}

{% block content %}

{# {{ dump(facture|default([])) }} #}

{# {{ dump(entites|default([])) }} #}

{# {{ dump(request|default([])) }} #}

{% endblock content %}




