<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//{{ app.request.locale|default(app.request.defaultLocale)|upper }}" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Confirmation de commande site {{ site.nom }}</title>
	{{ include(':email:styles_mail.html.twig') }}
</head>

<body>

	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" width="600">
				<div class="content">
					<table class="main" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="content-wrap aligncenter">
								<table width="100%" cellpadding="0" cellspacing="0">
	                            	{{ include('LaboAdminBundle:email:titre.html.twig') }}
									<tr>
										<td class="content-block">
											<h3>
												Bonjour {{ collaborateur.username }},
												voici la copie de la confirmation de commande<br>
												de {{ user.username }} / {{ user.nom|default(user.email) }}{% if user.prenom|default(null) is not null %} {{ user.prenom }}{% endif %}
											</h3>
											{% if is_granted('ROLE_TESTER') %}
											<h3 class="alert alert-warning">ATTENTION :<br>ceci est une commande de test de {{ user.username }} !</h3>
											{% endif %}
										</td>
									</tr>
									<tr>
										<td class="content-block">
											{# <a href="{{ url('siteUser_info', {username: user.username}) }}" class="btn-primary">Voir {{ user.username }}</a> #}
											<a href="http://admin.boucherie-du-veyron.fr/fr/user/show/{{ user.username }}" class="btn-primary">Voir {{ user.username }}</a>
											{# {% if not is_granted('ROLE_TESTER') %} #}
											{% if facture.state != 5 %}
											<a href="{{ url('site_ext_facture_changestate', {factureId: facture.id, state: 2, username: collaborateur.username, key: collaborateur.password|url_encode}) }}" class="btn-success">Commande prête !</a>
											{% else %}
											<a href="{{ url('site_ext_facture_delete', {factureId: facture.id, username: collaborateur.username, key: collaborateur.password|url_encode}) }}" class="btn-danger">Supprimer ce test</a>
											{% endif %}
										</td>
									</tr>
									<tr>
										<td class="content-block">
											<table class="invoice">
												<tr>
													<td>
														Réf. utilisateur : {{ user.nom|default(user.email) }}{% if user.prenom|default(null) is not null %} {{ user.prenom }}{% endif %}<br>
														Commande : n° {{ facture.id }}<br>
														Date : {{ dateFR(facture.created) }}
													</td>
												</tr>
												<tr>
													<td>
														<table class="invoice-items" cellpadding="0" cellspacing="0">
															{% for onepanier in facture.panier %}
															<tr>
																<td>{{ onepanier.article.nom }}{% if not onepanier.article.groupbasket %}<br>{{ onepanier.volume }}{{ onepanier.unit }}{% endif %}</td>
																<td>
																	{% if onepanier.article.groupbasket -%}
																		{{ onepanier.quantite * onepanier.volume }}{{ onepanier.unit }}
																		{%- if onepanier.quantite > 1 -%}<br><small class="text-muted"><i>({{ onepanier.quantite }} x {{ onepanier.volume }}{{ onepanier.unit }})</i></small>{%- endif -%}
																	{% else -%}
																		x {{ onepanier.quantite }}
																	{%- endif %}
																</td>
																<td class="alignright">{{ onepanier.prix_total }}{{ facture.devise.symb }}</td>
															</tr>
															{% endfor %}
															<tr class="total">
																<td class="alignright" colspan="2" width="80%">Total TTC</td>
																<td class="alignright">{{ facture.prixtotal|default(0)|number_format(2, ',', '') }}&nbsp;{{ facture.devise.symb }}</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="content-block">
											<p class="aligncenter">Sa commande doit être prête pour</p>
											<h3 class="aligncenter">{{ dateFR(facture.delailivraison) }} à partir de {{ facture.delailivraison|date('H\\hi') }}</h3>
											<p class="aligncenter">N'oubliez pas de la valider sur l'interface de gestion des commandes afin qu'elle puisse recevoir le mail la prévenant que sa commande est prête.</p>
											<p class="aligncenter"><i>Les prix sont indiqués TTC. Selon les Conditions Générales d'Utilisation, l'utilisateur a pris connaissance que, selon la coupe en atelier, le prix à régler sera adapté à la pesée de ses articles commandés et peut donc varier de plus ou moins 10%. S'il souhaite connaître la somme exacte avant de venir récupérer son panier, il pourra vous contacter{% if facture.boutique.telfixe is not null %} ({{ facture.boutique.telfixe|default('') }}){% endif %}</i></p>
										</td>
									</tr>
									<tr>
										<td class="content-block aligncenter">
											<a href="{{ url('sitesite_homepage') }}" class="btn-primary">Aller sur le site</a>
										</td>
									</tr>
									<tr>
										<td class="content-block">
											{{ facture.boutique.adresse.adresse|default('') }} - {{ facture.boutique.adresse.cp|default('') }} - {{ facture.boutique.adresse.ville|default('') }}{% if facture.boutique.telfixe is not null %} - <strong>Tél. {{ facture.boutique.telfixe|default('') }}</strong>{% endif %}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					{{ include('LaboAdminBundle:email:footermail.html.twig') }}
				</div>
			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>
