		<div class="footer">
		    <table width="100%">
		    	{% for boutique in site.boutiques %}
		    	<tr>
		    		<td class="aligncenter content-block">
		    			{% if boutique.email|default(null) != null -%}
		    			{{ boutique.nom }} : email <a href="mailto:{{ boutique.email }}">{{ boutique.email }}</a>
		    			{%- endif %}
		    		</td>
		    	</tr>
		    	{% endfor %}
		    	<tr>
		    		<td class="aligncenter content-block">
		    			<a href="https://www.facebook.com/La-boucherie-du-Veyron-130699467080417" target="_blank">Page FaceBook</a>
		    		</td>
		    	</tr>
		        <tr>
		            <td colspan="2" class="aligncenter content-block">
		            	Ceci est une information automatique du serveur {{ site.nom }}.<br>
		            	Merci de ne pas répondre à ce mail.
		            </td>
		        </tr>
		    </table>
		</div>