<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//{{ app.request.locale|default(app.request.defaultLocale)|upper }}" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Message envoyé, site {{ site.nom }}</title>
	{{ include(':email:styles_mail.html.twig') }}
</head>

<body>

	<table class="body-wrap">
	    <tr>
	        <td></td>
	        <td class="container" width="600">
	            <div class="content">
	                <table class="main" width="100%" cellpadding="0" cellspacing="0">
	                    <tr>
							<td class="content-wrap">
								<table width="100%" cellpadding="0" cellspacing="0">
	                            	{{ include('LaboAdminBundle:email:titre.html.twig') }}
	                                <tr>
	                                    <td class="content-block">
	                                    	{% if message.user|default(null) != null %}
	                                        <h3>{{ message.user.nom|default(message.user.email) }}{% if message.user.prenom|default(null) is not null %} {{ message.user.prenom }}{% endif %},</h3>
	                                        {% else %}
	                                        <h3>{{ message.email }},</h3>
	                                    	{% endif %}
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block">
	                                        Nous vous remercions pour votre message<br>envoyé sur notre site <a href="{{ url('sitesite_homepage') }}"><strong>{{ site.nom }}</strong></a>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block">
	                                        <p>Contenu de votre message :</p>
	                                        <h3>{{ message.objet|raw }}</h3>
	                                    	<p><i>{{ message.message|nl2br|raw }}</i></p>
	                                    </td>
	                                </tr>
									<tr>
										<td class="content-block aligncenter">
											<a href="{{ url('sitesite_homepage') }}" class="btn-primary">Aller sur le site</a>
										</td>
									</tr>
	                            </table>
	                        </td>
	                    </tr>
	                </table>
	                {{ include('LaboAdminBundle:email:footermail.html.twig') }}
	            </div>
	        </td>
	        <td></td>
	    </tr>
	</table>

</body>
</html>