<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//{{ app.request.locale|default(app.request.defaultLocale)|upper }}" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Message utilisateur, site {{ site.nom }}</title>
	{{ include(':email:styles_mail.html.twig') }}
</head>

<body>

	<table class="body-wrap">
	    <tr>
	        <td></td>
	        <td class="container" width="600">
	            <div class="content">
	                <table class="main" width="100%" cellpadding="0" cellspacing="0">
	                    <tr>
							<td class="content-wrap">
								<table width="100%" cellpadding="0" cellspacing="0">
	                            	{{ include('LaboAdminBundle:email:titre.html.twig') }}
	                                <tr>
	                                    <td class="content-block">
	                                        <h3>Message aux administrateurs :</h3>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block">
	                                        Un message a été envoyé sur le site <a href="{{ url('sitesite_homepage') }}"><strong>{{ site.nom }}</strong></a>
	                                    </td>
	                                </tr>
	                                {% if message.connected == false %}
	                                <tr>
	                                    <td class="content-block">
	                                    	<p style="color:red;"><strong>ATTENTION : ce message a été envoyé par un utilisateur reconnu, mais non connecté. Ce message peut avoir été envoyé par une autre personne.</strong></p>
	                                    </td>
	                                </tr>
	                                {% endif %}
	                                <tr>
	                                    <td class="content-block">
	                                        <p>Auteur du message :</p>
	                                        <h3><strong>{{ message.user.username|default(message.email) }}</strong></h3>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block">
	                                        <p>Contenu du message (n°{{ message.position + 1 }})</p>
	                                        <h3><strong>{{ message.objet|raw }}</strong></h3>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td class="content-block">
	                                    	<p><i>{{ message.message|nl2br|raw }}</i></p>
	                                    </td>
	                                </tr>
									<tr>
										<td class="content-block aligncenter">
											<a href="{{ url('sitesite_homepage') }}" class="btn-primary">Aller sur le site</a>
										</td>
									</tr>
	                            </table>
	                        </td>
	                    </tr>
	                </table>
	                {{ include('LaboAdminBundle:email:footermail.html.twig') }}
	            </div>
	        </td>
	        <td></td>
	    </tr>
	</table>

</body>
</html>